[2020-04-09 14:02] cristianbote opened #3 "Using object styles instead of tagged templates reduces the output gzipped size with `-200B`"
Hey @harshzalavadiya,

First of all kudos for this project! Really love the output and the small sizes! 😉 Also love that you chose to use `goober` 😄 thank you for that!

Second, was noticing that you've used _`css`_ function with tagged template and looking at the minified output in here https://unpkg.com/react-multi-select-component@2.0.0/dist/react-multi-select-component.cjs.production.min.js th

[2020-04-09 14:12] harshzalavadiya commented on #3
Hi @cristianbote
first of all thank you for creating goober it's lighter beyond my imagination 😃
Thanks for pointing out this, It will be really great to make this component lib even lighter, I'll be really happy to have a PR 🎉

[2020-04-10 13:03] #3 closed

[2020-04-21 12:09] polosson opened #5 "Small UI improvements"
First of, thanks for this nice and simple little component!

I'd like to propose a few small improvements to the IU:

- Use different colors for `:hover` state and `.selected` class. Maybe by providing a `--rmsc-selected` CSS var.
- The DOM element `.item-renderer` does not inherits the `cursor: pointer`, which results in a weird behavior of the cursor: we have `default` cursor when hovering the t

[2020-04-21 13:31] niklaspandersson opened #6 "missing types"
The type definitions dist/index.d.ts is missing. It's not generated when running the build script

[2020-04-21 17:30] #5 closed

[2020-04-21 17:37] harshzalavadiya commented on #5
@polosson
Thank you , I have made changes according to suggestions available in `react-multi-select-component@v2.0.2`

[2020-04-21 17:39] harshzalavadiya commented on #6
@niklaspandersson, good catch somehow last CI build wasn't able to add it while releasing but now it's available in `v2.0.2`

https://unpkg.com/browse/react-multi-select-component@2.0.2/dist/index.d.ts

[2020-04-21 17:39] #6 closed

[2020-04-21 17:45] polosson commented on #5
That's neat! Many thanks to you :smile: !

I just have tested it and that's almost perfect; the "spacing" thing wasn't exactly what I meant, sorry if I was unclear... I meant the spacing (margin) underneath the `<li />` of options. I think it should be defined to `margin-bottom: 0`, because some CSS frameworks (like `tent-css` for example) may set the `li`'s margins globally, and here we really ne

[2020-04-21 18:15] harshzalavadiya commented on #5
@polosson
oh, generally I don't want to make changes for framework spacific resets as I want it to be as lean as possible plus style overrides can be applied easily
but yes in this case setting `margin:0` might be a good idea as similar issue may happen in multiple UI libraries

anyways published in `react-multi-select-component@v2.0.3`

[2020-04-22 08:41] guidogast opened #8 "Ability to add custom classnames"
Awesome component, thanks!

It would be great if a prop `className` existed, that would add the specified string to the classes of the parent div.

[2020-04-22 11:59] #8 closed

[2020-04-22 12:04] harshzalavadiya commented on #8
@guidogast

Thank you, released `v2.0.4` for adding optional `className` customization

[2020-04-23 10:12] guidogast opened #10 "Weird behavior of the search"
During testing the component, I've found a weird issue when searching. This is reproducible on your own CodeSanbox example.

When I type, the order of the items change and the search string doesn't represent the expected result(s). Could you take a look at this?

GIF for clarity: https://i.imgur.com/hZStnR7.gifv

[2020-04-23 10:49] harshzalavadiya commented on #10
@guidogast,

as of now it uses [fuzzy search/](https://github.com/harshzalavadiya/react-multi-select-component/blob/master/src/lib/fuzzy-match-utils.tsx) instead of simple string match for better UX although you can customize this behaviour by overriding `filterOptions` prop

I was planning to make fuzzy search secondary to reduce bundle size even more and replace it with normal search as many use

[2020-04-23 10:58] guidogast commented on #10
@harshzalavadiya In that case, could you update the documentation with an example of an alternative filter using the `filterOptions` prop? Since it's quite unclear on how it should work.

[2020-04-23 11:02] harshzalavadiya commented on #10
@guidogast Sure, I'll try to do that today once I get some free time

[2020-04-26 04:42] harshzalavadiya commented on #10
Update: Sorry, I still am occupied with work right now, I'll try to do it as soon as I'll get some time

[2020-04-29 12:15] iMinosGFX opened #15 "Call function & setSelected in onchange ?"
Hello,
I would need to call another function (like handleSelectedChange) to update another state related to the setSelected.I was thinking of doing this in a function and calling it in the onChange, but unfortunately I can't figure out how to do it... Is this possible?
like :
onChange={{() => setSelected, handleSelectedChange}} ?

[2020-04-29 13:12] harshzalavadiya commented on #15
Hi @iMinosGFX

You can do it something like this

[code]

[2020-04-29 13:12] #15 closed

[2020-05-03 17:06] harshzalavadiya commented on #10
Hi @guidogast,

#### Why this logic
General search will throw error when there's even one word not matching, that can be frustrating when users try to find something on dropdown, for example “Julien” and the common spelling “Julian”, only one operation is needed, a substitution of “a” for “e.”

### How this works
1. Convert search query and list options both into alphanumeric + uppercase for examp

[2020-05-03 17:06] #10 closed

[2020-05-06 01:06] mnoster opened #16 "Support for onBlur and onClose events"
The props are pretty limited right now and is inactionable when closing or completing interaction with the MultiSelect.

It would be great to be able to use these events (onBlur and onClose), especially for scenarios where data should be fetched upon close of dropdown.

[2020-05-06 01:18] mnoster commented on #16
You could probably just update the MultiSelect props to utilize the onBlur focus state you've already built.

https://github.com/harshzalavadiya/react-multi-select-component/blob/master/src/multi-select/dropdown.tsx#L107

[2020-05-06 15:02] Kidist-Abraham opened #18 "unselect pre-selected rows"
I want the user to unselect pre-selected options using the UI.
Given that the `value` prop is set to some options, can the user unselect the value or add additional select?
Current behavior:
If the value state is changed programmatically, the select box will be disabled for both adding or removing selected values.

[2020-05-06 15:39] Kidist-Abraham commented on #18
Sorry, the form is disabled by a parent component.

[2020-05-06 15:39] #18 closed

[2020-05-06 20:52] #16 closed

[2020-05-08 13:49] guidogast opened #20 "Ability to use another arrow icon"
To keep our application uniform, it would be nice to have the ability to change the arrow icon to the icon that we use in the rest of our app.

[2020-05-08 14:40] guidogast opened #21 "Ability to disable options"
It would be amazing if it was possible to disable options by passing a: `disabled: true` along with the `label` and `value` properties. Making the checkbox disabled, but still appear in the list.

[2020-05-08 15:00] guidogast opened #22 "Open above the main component when there's no room at the bottom"
When you open the multiselect, it doesn't honor the viewport. When there's too little room at the bottom, it should open on top of the initial dropdown, the same way a default `select` would behave.

This:
![Clarify1](https://i.imgur.com/I0G0WGw.gif)

Should behave like:
![Clarify2](https://i.imgur.com/HkIODvo.gif)

[2020-05-10 05:53] TitusLearn2Code opened #23 "Alignment issue"
![Capture1](https://user-images.githubusercontent.com/21241006/81491856-1ecbe100-92e7-11ea-9c73-984241a04091.PNG)

[2020-05-11 07:31] harshzalavadiya commented on #23
@TitusLearn2Code,

This looks like css messup done by css reset or you overriding css in unsafe manner, if you think this is not the case then please provide codesandbox minimal reproduction

[2020-05-11 09:13] guidogast commented on #21
I looked through the code and saw that the option is already working. I didn't test it, because the documentation didn't show that the `disabled` property was present.

[2020-05-11 09:13] #21 closed

[2020-05-11 15:29] harshzalavadiya opened #24 "Skip `Select All` action on disabled props"
As of now if prop is disabled you can still toggle checkbox's value via select all, but instead it should stay frozen

![Peek 2020-05-11 20-58](https://user-images.githubusercontent.com/5774849/81579756-2c0dcc00-93ca-11ea-858b-36b97f6852a5.gif)

[2020-05-11 20:17] #20 closed

[2020-05-11 20:19] harshzalavadiya commented on #24
Resolved in `v2.0.7`

[2020-05-11 20:19] #24 closed

[2020-05-13 13:12] harshzalavadiya commented on #23
closing due to no response

[2020-05-13 13:12] #23 closed

[2020-05-14 11:20] ramkumar93v opened #26 "component not working in IE getting css polyfill error though i installed it in project"

[2020-05-14 13:31] harshzalavadiya commented on #26
Hi @ramkumar93v,

If you are facing styles not being rendered properly then it will be due to lack of css variables support in IE

If you have polyfilled application properly then functionally should work just fine see screenshot below.

![IE11-Polyfill](https://user-images.githubusercontent.com/5774849/81940257-07596480-9615-11ea-881d-f65a8f87239b.gif)

p.s. just in case if anyone needs to polyfi

[2020-05-14 13:31] #26 closed

[2020-05-19 13:20] leosv123 commented on #18
But why preselected options can't have ticked in dropdown list?

[2020-05-19 13:23] leosv123 commented on #18
i mean
const [selected, setSelected] = useState([{value:"mango", label:"mango"]);

Mango is not remained ticked in dropdown menu

[2020-05-19 13:27] leosv123 opened #29 "preselect issue"

[2020-05-19 13:27] leosv123 commented on #29
i mean
const [selected, setSelected] = useState([{value:"mango", label:"mango"]);
Mango is not remained ticked in dropdown menu

[2020-05-19 13:35] leosv123 commented on #29
![issue](https://user-images.githubusercontent.com/37137862/82332914-a3afac80-9a03-11ea-9c88-d0822d7f1fa3.PNG)

[2020-05-19 13:36] #29 closed

[2020-05-20 11:13] ElNath11 commented on #22
it is work If i'm using setState instead Hooks? cz my current Apps is still using old version react?

[2020-05-26 10:23] ramkumar93v opened #40 "Supported Node version is above 12 ? can you please add a fix to make it work for node 10"

[2020-05-26 12:22] #40 closed

[2020-05-26 12:24] harshzalavadiya commented on #40
Hi @ramkumar93v,

I have removed minimum node version requirement should work not

[2020-05-26 12:47] ramkumar93v commented on #40
That was really fast. Thank you very much 😊

[2020-05-26 15:19] harshzalavadiya commented on #22
@ElNath11
I wasn't able to get you properly, but as of now this functionality is not done at all so won't work anywhere.

I might patch for this in future but currently it's up for grabs if anyone wants to help out feel free to raise PR

[2020-05-27 13:33] LuisTessaro opened #42 "Where (or how) can I override the strings for internationalization"

[2020-05-27 13:44] harshzalavadiya commented on #42
@LuisTessaro

docs: https://github.com/harshzalavadiya/react-multi-select-component#-internationalization
example: https://codesandbox.io/s/relaxed-snow-3s7t7?file=/src/App.js

[2020-05-27 13:44] #42 closed

[2020-05-27 14:14] LuisTessaro commented on #42
Thank you!

[2020-06-01 15:12] bobaekang opened #43 "CodeSandBox example not working"
Thanks for creating a great multi-select component!

Unfortunately, [the CodeSandBox example](https://codesandbox.io/s/react-multi-select-example-uqtgs) seems to be failing to render with error message: "SyntaxError: export declarations may only appear at top level of a module".

See the following screenshot for details.

![image](https://user-images.githubusercontent.com/22449454/83422552-52ce898

[2020-06-01 17:29] harshzalavadiya commented on #43
hi @bobaekang,

Thanks for reporting this, this used to work fine some days before, problem is originating from one of the dependency I have filed [issue](https://github.com/cristianbote/goober/issues/149) package's repository

meanwhile you can use stackblitz instead of CSB here's starter example https://stackblitz.com/edit/react-7yn3vq

[2020-06-01 17:57] bobaekang commented on #43
Thank you for your response! I'll close this issue since you're already working on it.

[2020-06-01 17:57] #43 closed

[2020-06-02 17:39] flora8984461 opened #45 "Do you have a version of single selection? Since I want to use both multi and single with the same style"
Thanks for providing this component. It works great.

I am just having a small issue that, since I want to use both multi and single selection in one form with the same style, I wonder if you also have single selection option?

Thank you!

[2020-06-03 07:20] harshzalavadiya commented on #45
Hi @flora8984461,

Glad you liked it, This component was built for multiple selection for single selection react-select can be a really good choice

[2020-06-03 07:20] #45 closed

[2020-06-03 09:08] NotoriousGBG opened #46 "Hide 'Select All' from filtered options"
Is there a way to hide the Select All option when filtering?

[2020-06-03 13:44] harshzalavadiya commented on #46
Hi @NotoriousGBG,

![image](https://user-images.githubusercontent.com/5774849/83643961-59672780-a5ce-11ea-9a07-a98179284390.png)

Do you mean something like above then you can use `hasSelectAll={false}` prop

[2020-06-03 13:46] NotoriousGBG commented on #46
Hi @harshzalavadiya,

No I want the Select All there but when I search for 'Grapes', it still shows 'Select All' and 'Grapes'

[2020-06-03 13:47] harshzalavadiya commented on #43
Issue is resolved now codesandboxes should work as expected

[2020-06-03 14:11] harshzalavadiya commented on #46
Hi @NotoriousGBG,

I got your point as it can be confusing if user selects "select all" and it actully selects everything which is wrong so it will be hidden if you are filtering options

[2020-06-03 14:15] #46 closed

[2020-06-14 06:39] Pabarreyro opened #50 "Add overrideStrings to README docs"
It's missing in your props table is all. Great component!

[2020-06-14 06:41] #50 closed

[2020-06-14 19:04] harshzalavadiya commented on #50
Hi @Pabarreyro,

I have updated README to avoid confusion

[2020-06-18 16:38] tomjmcnamee opened #53 "Mod request - Add Prop to declare callback() for when the dropdown list is closed."
**Modification Request - Add new Prop to declare callback function when the dropdown list is closed.**
![image](https://user-images.githubusercontent.com/38674764/85047944-8be15a80-b160-11ea-8a3f-ba9a4eb88d27.png)

Hello - I am trying to send your 'selected' hook's data to a global store via redux action, to then update a chart component with the multi-selected data sets.  Global state is successf

[2020-06-19 09:47] harshzalavadiya commented on #53
Hi @tomjmcnamee,

Can you provide minimal reproduction in codesandbox?

[2020-06-19 20:13] #53 closed

[2020-06-19 20:14] tomjmcnamee commented on #53
I was able to get your dropdown to work with Redux by configuring your 'value' and 'onChange' parameters to a redux global store array and action, respectively.
My failures were from my attempt to use redux with the hooks from your example FC.
Thanks for the great tool and hard work!
[code]

[2020-06-20 10:31] Jipperism opened #54 "Option to disable 'All items are selected.' text"
I would like to be able to disable the 'All items are selected' text in the header, and always use the comma-separated list that is normally used.

[2020-06-20 10:41] Jipperism commented on #54
Discovered the `valueRenderer` prop while reading the source code, which does the trick as well. Might be good to add this to documentation?

[2020-06-20 20:32] harshzalavadiya commented on #54
Hi @Jipperism,

Thanks for the suggestion, I have updated [documentation](https://github.com/harshzalavadiya/react-multi-select-component#-custom-value-renderer) for the same

[2020-06-20 20:32] #54 closed

[2020-06-28 16:50] ryanadhi opened #57 "Is it possible to customize the Checkbox style?"
it would be nice if we have ability to style the checkbox? or probably overriding the css manually like w3school (https://www.w3schools.com/howto/howto_css_custom_checkbox.asp) ?

[2020-06-29 06:51] harshzalavadiya commented on #57
@ryanadhi,

well it's quiet easy you can use `ItemRenderer` prop and customize option UI

https://github.com/harshzalavadiya/react-multi-select-component#-custom-item-renderer

[2020-06-29 06:51] #57 closed

[2020-06-30 10:40] jan-wilhelm opened #59 "Goober styles leak into global scope"
Not sure if this is an issue with this repo or with Goober.

The [styles that are defined for the `DefaultRenderer` in select-panel/default-item.tsx](https://github.com/harshzalavadiya/react-multi-select-component/blob/99b13b1bb0760baaa64f200369b41542abca7faf/src/select-panel/default-item.tsx#L14-L24) leak out into the global CSS scope.

This source code:
[code]

creates this CSS when rendered wit

[2020-06-30 11:15] #59 closed

[2020-06-30 11:16] harshzalavadiya commented on #59
@jan-wilhelm

Thanks for pointing it out,
Style leak is fixed now please update your package to `v2.0.12+`

[2020-06-30 11:45] swathithayalan opened #61 "how to set search icon with search text?"

[2020-06-30 12:38] jan-wilhelm commented on #59
Awesome, thank you very much for the quick response and for this fantastic package!!

[2020-06-30 14:12] harshzalavadiya commented on #61
@swathithayalan,

Did you mean for search text box?
if so then this component do not support custom icon for search textbox but you can have emoji as icon like below

[code]

![image](https://user-images.githubusercontent.com/5774849/86136289-86452680-bb09-11ea-9337-42a0f90ba4d7.png)

[2020-06-30 17:41] swathithayalan commented on #61
can we get support to render svg or fontawesome icons instead of emojis?

[2020-07-01 08:36] radhakrishna67 opened #62 "Multi select is not displaying values after clicking on item"
I am using reactjs class to have this Multi Select. When i select item in the drop down onClick is working and value is getting selected. The selected value is not shown after selection.
Here is the code i used for it,

[code]

export default Forms;
![image](https://user-images.githubusercontent.com/55708626/86222497-f1dbd200-bba3-11ea-85e4-db5b95327d46.png)

[2020-07-01 08:44] harshzalavadiya commented on #61
@swathithayalan,

As of now I'm not planning to add svg icon support directly since it will just increase size for package

If you want to use svg icon you can customize input element via CSS quick version below

![image](https://user-images.githubusercontent.com/5774849/86223365-15ebe300-bba5-11ea-95f6-1594f9c92c0b.png)

[code]

[2020-07-01 08:44] #61 closed

[2020-07-01 08:56] harshzalavadiya commented on #62
@radhakrishna67,

There are couple issues in the code you have written

[code]

[2020-07-01 08:56] #62 closed

[2020-07-01 11:34] radhakrishna67 commented on #62
Thanks a lot for your quick help!

[2020-07-02 18:41] bobaekang opened #63 "Better support for keyboard interaction?"
I've noticed that `<MultiSelect>` works quite differently from, say, a native `<select>` tag when using keyboard to interact with it. I think it would be great if the component can behave similarly to how `<select>` works.

For instance, native `<select>` dropdown opens when I hit `spacebar` while on focus. Hitting `tab` closes the dropdown, and hitting `tab` once more will move the focus to the n

[2020-07-03 16:54] harshzalavadiya commented on #63
@bobaekang,

I totally agree it should behave similar to native select component, I'll  try to fix this once I get some time

[2020-07-07 19:37] mkhbragg opened #67 "Expand disabled dropdown?"
Is there a reason that the dropdown is still expandable when it's disabled? If not, here's a teeny tiny PR to address that 👉 https://github.com/harshzalavadiya/react-multi-select-component/pull/66. If it is intentional, could you explain why?

Thanks! And thank you for this component 🙏

[2020-07-07 19:56] mkhbragg commented on #67
Looking at [WAI-ARIA focusability guidelines](https://www.w3.org/TR/wai-aria-practices/#kbd_disabled_controls), an alternative to preventing expansion of the dropdown would be to allow the options of a disabled multi-select to be read-only but still focusable. In that case, the behavior might best be addressed along with https://github.com/harshzalavadiya/react-multi-select-component/issues/63.

[2020-07-07 20:52] harshzalavadiya commented on #67
@mkhbragg,

Thank you for the PR, I think disabling expansion will be better as of now

PR changes available in v2.0.13

[2020-07-07 20:52] #67 closed

[2020-07-08 10:46] Roeefl opened #68 "'Select All' is selected for a split second whenever opening the dropdown"
This happens on your CodeSandbox demo as well.

We just hadn't noticed it when we started using the library.

Is there any way to avoid or resolve this?

[2020-07-08 14:09] #68 closed

[2020-07-08 14:11] harshzalavadiya commented on #68
@Roeefl ,

Thanks for reporting this issue, fixed in 2.0.14

[2020-07-11 10:40] Roeefl commented on #68
@harshzalavadiya Thanks.

[2020-07-11 20:45] #63 closed

[2020-07-11 20:52] harshzalavadiya commented on #63
@bobaekang,

I have tried to fix most accessablity issues as of now in `v3.0.0`
- pressing `space` or `down arrow` will open dropdown component
- pressing `esc` will close dropdown and focus will be preserved this will bring it bit closer to native `<select/>`

[2020-07-21 09:26] prashantup1993 opened #77 "I am trying to apply this multi select in multiple input drop down but for every drop down it's giving same values after selection, SO how we can apply this to multiple input fields. So how can i make this multi select to each input field in a form ."
Please help me asap

[2020-07-21 11:22] harshzalavadiya commented on #77
@prashantup1993,

Can you provide minimal codesandbox exmaple?

[2020-07-21 13:06] prashantup1993 commented on #77
Here are two fields where i have applied this multi select but if i select in one drop down it's automatically selected in another drop down

                      <Label htmlFor="select">Job Type</Label>
                    </Col>
                    <Col xs="3" md="3">
                      <MultiSelect
                          options={this.state.options}
                          value={this.

[2020-07-21 13:16] harshzalavadiya commented on #77
It seems that you are assigning same state to assign value and using the same `setSelected` function so this will happen if you use different variable there should be no issues

this is not related to this or any component library.
So, If you are still looking for help prefer asking it on stackoverflow, you will get faster and understandable solution :smile:

[2020-07-21 13:16] #77 closed

[2020-07-23 08:38] Karmagrinder opened #78 "Issues with theming"
Can you provide an example for theming, I am unable to change the theme by using className prop, as mentioned here:
https://www.npmjs.com/package/react-multi-select-component#-themeing

[2020-07-23 12:31] harshzalavadiya commented on #78
Hi @Karmagrinder,

You don;t have to provide `className` prop you can customize it by just overwriting CSS variables

https://codesandbox.io/s/gallant-hofstadter-5yjuw

Closing this feel free to open if not resolved

[2020-07-23 12:31] #78 closed

[2020-07-23 22:13] Karmagrinder commented on #78
Thanks for quick response, for some reason the style properties in multi-select css class are getting overwritten by the internally generated class named ".go355775859". In the sandbox it's working fine.
But I managed to get things working by using "!important" in the multi-select.

[2020-07-24 12:47] harshzalavadiya commented on #78
@Karmagrinder
I think i'll add note for important if it doesn't work

[2020-07-29 10:09] vc-akashkadia opened #80 "I'll gate the same dropdown but support for a single and multi select both so you have a solution for that"

[2020-07-29 12:28] harshzalavadiya commented on #80
Hi @vc-akashkadia

I didn't got your point completely, as of v3.x There's no support for single select since I would encourage to use pure native HTML component or if you are looking for more feature-rich solution use react-select instead

I would like to add single select in future maybe in a next major release but there's no addition planned as of now, but PR's are always welcome

[2020-07-29 13:16] vc-akashkadia commented on #80
Ok, Thank's for the replay😊
________________________________
From: Harsh Zalavadiya <notifications@github.com>
Sent: Wednesday, July 29, 2020 5:58 PM
To: harshzalavadiya/react-multi-select-component <react-multi-select-component@noreply.github.com>
Cc: Akash Kadia <akash.kadia@viitor.cloud>; Mention <mention@noreply.github.com>
Subject: Re: [harshzalavadiya/react-multi-select-component] I'll gate

[2020-07-29 13:25] UtkarshChandel opened #81 "labelledBy prop not working"
labelledBy Prop dosen't reflect any changes..show "Select" value.

[code]

`labelledBy={"Select Classes"}/>`
 _also tried_
`labelledBy = "Select Classes"`

O/P
IMG :

![selectProp](https://user-images.githubusercontent.com/19821787/88804897-2a36f600-d1cc-11ea-8cf1-52ccb47549da.PNG)

[2020-07-29 15:40] #80 closed

[2020-07-29 15:46] harshzalavadiya commented on #81
hi @UtkarshChandel

`labelledBy` is for `aria-labelledby` attribute you should use `overrideStrings` prop to change placeholder text

[code]

[2020-07-29 15:46] #81 closed

[2020-07-29 16:55] andreyoganesyan opened #82 "Dropdown is not closed when clicking away on another input"
Hi,
I've noticed some strange behavior whenever I try to close the dropdown by clicking away. When I click on some empty space, it works fine, however,  when I click on another input, that input receives the focus but the dropdown is not closed.

As far as I understand, the issue is with [these lines of code](https://github.com/harshzalavadiya/react-multi-select-component/blob/1caae76accfeb5df83ff

[2020-07-29 18:25] harshzalavadiya commented on #82
Hi @andreyoganesyan,

Thanks for reporting and detailed analysys, basically this was used to detact outside click but instead of `e.relatedTarget` I should be checking if `e.relatedTarget` is in `e.currentTarget` instead of just doing defined check

Anyways it's fixed in `v3.0.1`

[2020-07-29 18:25] #82 closed

[2020-07-29 18:56] UtkarshChandel commented on #81
Thanks alot 👍

[2020-08-03 07:50] prashantup1993 opened #84 "Non-null assertions can only be used in TypeScript files. while building the project"
hi when i am uploading my project to pro env it's showing Non-null assertions can only be used in TypeScript files. while building the project , Can you help me in this?

[2020-08-03 08:03] harshzalavadiya commented on #84
@prashantup1993

Can you create codesandbox reproduction?

[2020-08-12 07:14] prashantup1993 opened #92 "Reset not working"
Hi,
When i am trying to reset the form, it does not reset multi select fields..

[2020-08-12 08:20] prashantup1993 commented on #92
Sorry changed the state now it's working..

[2020-08-12 11:25] #92 closed

[2020-08-12 12:52] harshamv opened #93 "Restrict selecting max 2 options"
Is it possible to restrict selecting only 2-3 options while doing the multi select?

[2020-08-12 14:02] harshzalavadiya commented on #93
@harshamv,

There's no support for maxOptions directly but you can easily write an wrapper around it or use it like below

### Example
https://codesandbox.io/s/nostalgic-mestorf-sspwq?file=/src/App.js

### Sample Code
[code]

[2020-08-12 14:02] #93 closed

[2020-08-20 09:50] leosv123 opened #103 "automatic close"
The select options doesnt close automatically when a option is selected it needs to closed manually by clicking on other side of screen to close the options bar, how can we make it to close automaticallly

[2020-08-20 10:04] leosv123 commented on #103
automatic close on selecting an multi option

[2020-08-20 10:05] Kannndev opened #104 "Search Clear Icon not showing"
In Example gif there is a clear button on search input but that is not showing up

[2020-08-20 10:58] cethol opened #105 "remote data search"
Hi, thanks for making this component so beautiful, but i have some problem when load thousands data into this component, it makes slow. Please suggest how to make it possible to load data when it match with the search term. Thank you!

[2020-08-20 13:09] harshzalavadiya commented on #105
@cethol, as of now dropdown component does not have any kind of virtual renderer in order to keep this compact

but this should not happen in most of scenarios because you could preferabally trim down results to 10-20 based on query because by implementating custom `filterOptions`

I would recommend going with https://react-select.com/async in autocomplete beacuse they have very simple implementat

[2020-08-20 13:16] harshzalavadiya commented on #104
@Kannndev,

if you mean by below highlighted cross button
![image](https://user-images.githubusercontent.com/5774849/90774313-e8a1f280-e314-11ea-8985-cc7710eb97ae.png)
behind the scenes it's just `<input type="search" />` that chromium based browser shows clear button by default but other browsers might behave differently

[2020-08-20 13:19] Kannndev commented on #104
Can we add that as a feature please so that it could be a cross browser supported one. If needed I can do and raise Pr for that?

[2020-08-20 13:20] harshzalavadiya commented on #103
@leosv123 by default component's behaviour is to allow users to select multiple options at a time so it would not close automatically but *I think the options you might be looking for is `shouldToggleOnHover` prop*

[2020-08-20 13:20] #103 closed

[2020-08-20 13:22] harshzalavadiya commented on #104
@Kannndev sure I'll be happy to have a PR

the only thing is it should be very minimal since, the first priority for this component is to be very lean and simple

[2020-08-20 13:23] Kannndev commented on #104
Sure will keep it minimal. Thanks :)

[2020-08-20 14:09] cethol commented on #105
Hi, thanks for the answer. but can you give me an example how to use `filterOptions`? because i always get this error.
![image](https://user-images.githubusercontent.com/2105802/90782729-65d76280-e329-11ea-9bbd-f9baa135ff64.png)

[2020-08-20 14:38] harshzalavadiya commented on #105
Minimal Example
https://github.com/harshzalavadiya/react-multi-select-component#-custom-filter-logic

react-multi-select-component's Fuzzy Match Implementation
https://github.com/harshzalavadiya/react-multi-select-component/blob/master/src/lib/fuzzy-match-utils.tsx#L23-L55

[2020-08-20 14:52] cethol commented on #105
Thank you for your answer.

[2020-08-20 18:09] Kannndev commented on #104
@harshzalavadiya I have raised a Pr for the same. Please review.

  Filesizes after the changes.
  brotli      gzip        none
  3.25 kb  3.64 kb  9.48 kb

[2020-08-24 12:19] harshzalavadiya commented on #104
@Kannndev

Thanks for the PR,
I'll am bit packed this week so I'll try to Review and Merge it this weekend

[2020-08-25 17:47] mkhbragg opened #118 "Click outside to close not working with itemRenderer"
If 'Select All' was the most recent option selected, then the dropdown does not close when you click outside. Please see the gif below and relevant code [sandbox](https://codesandbox.io/s/festive-mclean-0k7yx?file=/src/App.js). Notice that click-outside-to-close works well when the most recently clicked option is not the 'select all' item 🧐

![bug react-multi-select-component](https://user-images.

[2020-08-25 17:48] mkhbragg commented on #118
Oh and the `ItemRenderer` should probably be `itemRenderer`, no?

[2020-08-25 21:22] JeffersonCarvalh0 opened #119 "Testing with React Testing Library"
Greetings,

I'd like to know if there is any recommended way to test interactions with this component using RTL. Currently, with the most updated versions of `@testing-library/react` (10.4.9) and `@testing-library/user-event` (12.1.3) I'm not able to simulate options being select by the user.

I've already tried simulating click events choosing the select by its placeholder (e.g: `userEvent.click(

[2020-08-26 08:52] harshzalavadiya commented on #118
@mkhbragg
thanks for reporting this,
I'll look into this over weekends

Yes, I also wanted to rename props that are not in camelCase but as of now I can't do that without breaking it for existing users so might be in next major release :smile:

[2020-08-26 13:01] harshzalavadiya commented on #119
Hi @JeffersonCarvalh0,

I don't have much idea on `@testing-library/react` but in general you want to perform programmatic toggle, you may try targeting `dropdown-heading` class I tried with pure JavaScript and it worked so should work for testing-library as well.

[code]

[2020-08-26 13:02] #105 closed

[2020-08-26 16:33] mkhbragg commented on #118
Sounds good! 🙏

Makes sense!

[2020-08-27 06:53] harshzalavadiya commented on #84
closing due to no reproduction

[2020-08-27 06:53] #84 closed

[2020-08-27 06:54] harshzalavadiya commented on #119
closing this as of now if still having issues feel free to reopen or create a new issue

[2020-08-27 06:54] #119 closed

[2020-08-27 13:07] ahmedsamirbek commented on #118
I have a problem when i started with init values it can't be editied ... how can i make this
for example( when i open multi select box  i wil find 3 items checked  i need to edit them how ?! )

[2020-08-27 13:08] ahmedsamirbek opened #120 "starting with some checked items cannot edit them"
I have a problem when i started with init values it can't be editied ... how can i make this
for example( when i open multi select box i wil find 3 items checked i need to edit them how ?! )

[2020-08-27 13:32] ahmedsamirbek commented on #120
I mean pre selected items

[2020-08-27 13:33] ahmedsamirbek commented on #120
try to put it on example to understand what i mean
selected.push({ label: "Grapes 🍇", value: "grapes" })

[2020-08-28 14:08] harshzalavadiya commented on #120
@ahmedsamirbek

options and selected both should be handled seprately, if you want pre-selected values you have to use it like below

example: https://codesandbox.io/s/eloquent-field-ecsqo?file=/src/App.js

[2020-08-28 14:08] #120 closed

[2020-08-28 20:30] JeffersonCarvalh0 commented on #119
Hi @harshzalavadiya
Sorry for taking so long to answer. Unfortunately, it didn't solve my problem. Probably it is something with RTL then

[2020-09-02 08:17] Sowjanya-msft opened #130 "No Clear icon for clearing all selected items"

[2020-09-02 10:31] harshzalavadiya commented on #130
Hi @Sowjanya-msft,

You can unselect all items by double checking and unchecking on select all although clear all button might also be a good idea, i'll work on this when I'll get some time, also PR's are welcome if you are intrested

[2020-09-04 15:26] #104 closed

[2020-09-04 15:31] harshzalavadiya commented on #104
🎉 Released in `v3.0.2`

Thank you @Kannndev for the PR

[2020-09-04 16:28] harshzalavadiya opened #131 "Roadmap v4.0.0 [Will be worked on once pandemic ends 😬]"
### Why

This component was written a year ago (when I was just starting to get hang of react) so there were many things that I didn't knew back then so after revisiting codebase today I realized that there are so many things that can be improved and that might make this tiny component *even better*

### TODO

- [x] Utilize React Context API instead of Prop Drilling (might reduce bundle size even

[2020-09-07 18:39] arpinegaranyan opened #132 "Dropdown content position"
I change the position of the dropdown content using css styles but cannot change the direction of the icon.

[2020-09-08 09:25] harshzalavadiya commented on #132
@arpinegaranyan

I am not able to get this can you provide highlighted screenshot of what icon?

---

![image](https://user-images.githubusercontent.com/5774849/92458566-322e8080-f1e3-11ea-96d9-a9dbd109cf0d.png)
if it's dropdown arrow icon then you can use css transform to rotate it by targeting `dropdown-heading-dropdown-arrow` class like below
[code]

or if you are trying it with RTL this compon

[2020-09-09 08:38] arpinegaranyan commented on #132
Thanks a lot

[2020-09-09 08:38] #132 closed

[2020-09-09 10:43] theArjun opened #135 "Implement debouncing"

[2020-09-14 07:52] guido-visser opened #137 "Feature request: Managed open/close by external state and defaultOpen prop"
Awesome work! Might I request a feature for 4.0?

I'd like to see a managed open/closed prop.

It could look like: `<MultiSelect {...props} open={true} />`. This could then be managed by external state. What would be a perfect addon to this is another prop called: `defaultOpen`, that when true, if the component is mounted, it opens the dropdown automatically. The `defaultOpen` would only work when

[2020-09-14 13:55] harshzalavadiya commented on #137
Good Idea, This might be useful

[2020-09-14 13:57] harshzalavadiya commented on #135
I'm still not sure, but might be good to have in v4

[2020-09-15 03:41] theArjun commented on #135
Okay, that would be a great improvement.

[2020-09-15 18:46] yarin177 opened #138 "Error: Text strings must be rendered within a <Text> component"
I tried to use the basic demo to show a simple multiselect however I get this weird error not sure why I copied exactly like the demo code.

[code]

[code]

[2020-09-16 16:04] harshzalavadiya commented on #138
@yarin177,

Can you reproduce in codesandbox?
It looks like this is maybe related to react-native/expo thing

[2020-09-16 17:37] ankursnh023 commented on #130
Hi @harshzalavadiya

Any update on this? Need this feature urgently.

[2020-09-16 18:28] harshzalavadiya commented on #130
@ankursnh023

TBH, this might take a while since I'm very occupied nowadays with office work and I get a very little time to work on new features

[2020-09-23 11:22] JiriSko opened #143 "Feature request: Select all even when filter is active"
Hi,

thanks for your great component. Could be possible to show _Select all_ checkbox even when search string is entered? It's useful when you want to quickly select for example items with some pre/postfix.

[2020-09-30 02:27] ww8912188 opened #150 "yarn build leads to Failed to compile"
After I have this package, I got:
[code]

Delete this package, it works smoothly. Can someone shining some light on this issue?

[2020-10-01 07:14] harshzalavadiya commented on #150
@ww8912188,

This shouldn't happen can you provide minimal sample?, is it CRA, Nextjs repository

[2020-10-01 07:22] harshzalavadiya commented on #150
Looking at the error logs says that you might be passing some unnecessary prop
- this component does not accept prop "name" if added removing might solve this
- but it looks like tapable module is causing this error and this component is not dependent upon it

[2020-10-03 05:51] Kannndev commented on #143
@harshzalavadiya I can pick this up.

[2020-10-03 05:51] Kannndev commented on #143
Can you please assign it to me

[2020-10-03 06:43] harshzalavadiya commented on #143
@Kannndev sure

[2020-10-03 11:31] Kannndev commented on #143
@harshzalavadiya have raised PR #151 . Can you please review and let me know if any change is needed

[2020-10-03 11:35] Kannndev commented on #130
@harshzalavadiya I can pick this up if you have an idea of where the button needs to be placed.

[2020-10-03 11:38] Kannndev commented on #135
@harshzalavadiya I can pick this up. If it's okay for you to implement in the current version.

[2020-10-03 11:48] harshzalavadiya commented on #130
@Kannndev icon can be before down arrow

[2020-10-03 11:52] harshzalavadiya commented on #143
@Kannndev

Overall LGTM Thank you,

I'll merge and release this next week since, I'm bit of occupied

[2020-10-03 11:53] Kannndev commented on #143
Thanks

[2020-10-03 13:30] Kannndev commented on #143
Updated PR #152

[2020-10-03 13:50] Kannndev commented on #130
Raised PR #153 . Please review

[2020-10-04 08:45] ww8912188 commented on #150
We could not privide the source code. Sorry about that, anyway.

[2020-10-04 08:45] #150 closed

[2020-10-04 12:04] Kannndev commented on #135
@harshzalavadiya raised PR. Please review #154

[2020-10-05 15:06] adomrockie opened #155 "Search input text does not allow keyboard tab spaces"
Thanks for this , but I think there is an issue with entering spaces in your search text.

If this is by design, then can you let me know how i can override this function. I have a drop down with a long text that require filtering using more than one text value.

Thanks

[2020-10-05 22:16] harshzalavadiya commented on #155
@adomrockie by default it uses fuzzy search, so whitespaces will be discarded, but you are free to implement your own custom logic

Here's how to do it
https://github.com/harshzalavadiya/react-multi-select-component#-custom-filter-logic

[2020-10-06 10:10] adomrockie commented on #155
What I meant is that, in your component typing in the search box does not allow spaces...eg. typing "Orange is sweet" is not supported. I have already implemented the customFilterLogic method and the filter value is already set without white space.

[2020-10-06 14:10] harshzalavadiya commented on #155
@adomrockie

I got it not certainly it's a bug happening due to event bubbled to parent

[2020-10-06 14:13] harshzalavadiya commented on #155
Thanks for reporting v3.0.3 should fix this issue

[2020-10-06 17:43] harshzalavadiya commented on #143
Released v3.0.4

[2020-10-06 17:43] #143 closed

[2020-10-06 17:43] harshzalavadiya commented on #135
Released v3.0.4

[2020-10-06 17:43] #135 closed

[2020-10-06 17:44] harshzalavadiya commented on #130
Released v3.0.4

[2020-10-06 17:44] #130 closed

[2020-10-06 17:48] harshzalavadiya commented on #138
Closing due to no reponse

[2020-10-06 17:48] #138 closed

[2020-10-08 14:47] Adam-STaC-Solutions opened #165 "Bug: Since 3.0.4 expanding the drop down clears the contents."
I believe this may be linked to the addition of a clear button.

In Chrome this now wipes the selection just by clicking anywhere to expand the drop down.

[2020-10-08 14:51] harshzalavadiya commented on #165
@Adam-STaC-Solutions

I'm not able to understand this completely will it be possible for you to send a gif/video on how to reproduce this also what is your chrome version?

[2020-10-08 14:59] Adam-STaC-Solutions commented on #165
Hi @harshzalavadiya, unfortunately not as the code is confidential.

Basically, what seems to be happening is when a user:

- selects entries in the dropdown
- closes the drop down
- the clear icon appears
- (this is all ok)
- if the user opens the drop down again
- it wipes all user selections.

Chrome version Version 85.0.4183.121 (Official Build) (64-bit)

[2020-10-08 15:00] Adam-STaC-Solutions commented on #165
I may not have time for a couple of days. But I'd be happy to take a look and try tackling this.

I'm after my Hacktoberfest tshirt 👍

[2020-10-08 15:22] harshzalavadiya commented on #165
@Adam-STaC-Solutions,

I didn't mean of your complete application, I mean minimal reproduction of codesandbox
I tried in current CSB with `create-react-app` so wasn't able to reproduce it

I'm marking this with hacktoberfest, so if someone or you submit a valid PR it will be counted towards hacktoberfest

[2020-10-19 11:02] vladpre92 commented on #165
@harshzalavadiya I think he means that the selected options won't persist for the second interaction with the dropdown, or in some cases when dropdown disappear.
In my case, selected items persist only if I click outside dropdown. If I click the dropdown or anywhere inside, selected items won't persist.
I've attached a GIF with this behaviour.
I tested with Chrome and Safari. Same issue. Maybe we'

[2020-10-19 11:07] Adam-STaC-Solutions commented on #165
@vladpre92 Exactly that.

[2020-10-19 13:25] harshzalavadiya commented on #165
@vladpre92 @Adam-STaC-Solutions,

I tried reproducing in mac safari and chrome both but wasn;t able to so I have added `e.stopPropagation();` to prevent bubbling can anyone try installing `react-multi-select-component@canary` and see if this fixes the issue?

[2020-10-22 19:07] FelixPriori opened #175 "Feature request: option to change dropdown direction (down [default], up, right, left)"
Thank you for your work.

Just wondering if it could be possible to eventually be able to choose the direction of the dropdown.

Thanks again.

[2020-10-27 06:04] harshzalavadiya commented on #175
@FelixPriori I agree this will be a nice feature, I have plans for up/down but I'm not sure about how right/left will work, since up down should cover most cases

[2020-10-27 20:34] FelixPriori commented on #175
Left/right, I would use mainly within other dropdowns. Might be out of the scope of this project, however.

![dropdown-within-dropdown](https://user-images.githubusercontent.com/53023071/97358869-418c8a80-1872-11eb-849c-e566e594dfce.png)

[2020-11-03 05:21] VivekRajak2020 opened #196 "Add Button"
How to add button below select list

[2020-11-03 10:14] harshzalavadiya commented on #196
Hi @VivekRajak2020 I didn't got your question properly can you explain it a bit more like with some example?

[2020-11-03 11:18] VivekRajak2020 commented on #196
How to add button at the bottom of dropdown List
![drop](https://user-images.githubusercontent.com/66259747/97978949-5cbc4480-1df4-11eb-874a-f2a591141c5c.PNG)

[2020-11-03 14:37] harshzalavadiya commented on #196
Oh, sorry there's no direct way to do this 😅
As of now there's no plan to add this near future, but you are free to fork the repository and customize it your way,

I think you can look at https://www.npmjs.com/package/@kenshooui/react-multi-select with little bit of customization this might work for you

[2020-11-03 14:37] #196 closed

[2020-11-04 06:35] yuvalshim opened #197 "Enable to fixed the search input when scrolling"
@harshzalavadiya Maybe it be better UX to enable to fixed the search input to top of the dropdown.
it feels weird that he disappeared in a scroll.

What do you say?

Maybe add some props: `stickySearchInput: Boolean`

[2020-11-04 10:09] harshzalavadiya commented on #197
@yuvalshim
Good suggestion, By default it can be sticky
PR's is welcome

[2020-11-06 04:53] barakjobs opened #198 "Selected Value is shown in CHIP format"
Hi,
I am using react-multi-select-component in my project. I want to see the selected values as square shape CHIP on a selection with the delete icon button. If anyone will click on the delete icon that value should remove from the selected value.
if I am using valueRenderer with customValueRender but it is not working as expected.

[2020-11-09 06:06] harshzalavadiya commented on #198
Hi @barakjobs

can you provide not working sandbox.

p.s. Instead of customizing this component for chip, you might be better off with using ready made component like [this one](https://www.npmjs.com/package/react-multiple-select-dropdown-lite) 😄

[2020-11-16 11:59] milojevic1991 commented on #137
Hi harshzalavadiya, I agree with @guido-visser ,  open/close prop would be a really important feature. I'm using your library, and I think it's great, only this feature missing to complete an overall great package!

[2020-11-16 12:21] milojevic1991 opened #201 "Keyboard scrolling issue - Can't scroll to the last element"
Hi @harshzalavadiya, when you try to scroll(e.g scrolling down) with the keyboard arrow on the opened input element, it only navigating to the second last-child, it will not reach the last dropdown element. The issue is present on the official demo, too.

[2020-11-16 17:14] #137 closed

[2020-11-16 17:19] harshzalavadiya commented on #201
@milojevic1991 Thanks for the bug report
Fixed it in `v3.0.6`

[2020-11-16 17:20] harshzalavadiya commented on #137
@guido-visser, @milojevic1991
I have added `isOpen` and `defaultIsOpen` prop do try it out and let me know if there's any feedback

[2020-11-16 17:39] #198 closed

[2020-11-16 17:42] harshzalavadiya commented on #165
Hopefully this might be fixed in new version / might be simple state management issue , feel free to reopen if sandbox is available
Closing for now

[2020-11-16 17:42] #165 closed

[2020-11-18 13:14] Nawazsherif opened #206 "Dropdown content not closing when clicking outside the component"
**Scenario:**

I selected some of the items in the dropdown and clicked directly on the clear icon, the dropdown content always  stays.

**Expected behaviour**

I want the dropdown content to be closed if I click anywhere on the page.

**Current behaviour**

The dropdown content is getting closed only if I click on the select box.

I see this issue as critical bug. *This makes the user experience

[2020-11-18 14:17] harshzalavadiya commented on #206
Fixed in `v3.0.7`

[2020-11-18 14:17] #206 closed

[2020-11-19 05:25] Nawazsherif commented on #206
Thanks a lot for the quick fix. Works well now.

[2020-11-19 10:54] milojevic1991 commented on #201
Hi, @harshzalavadiya Thanks for the fast feedback! One issue though, when the search bar is disabled, or a complete search is disabled too, scroll with the keyboard won't work.

Keyboard scroll only works when the search is on, and without the focus. It's essential small functionality for all the enterprise apps.

[2020-11-19 11:01] milojevic1991 commented on #175
Hi @FelixPriori @harshzalavadiya I have a quick fix:

You can add additional class name to the component, and then you can target 'dropdown-content' class with that custom parent class. For example :

.customClass {
   .dropdown-content {
      top: -1000% !important; // it will display dropdown content above the input element
   }
}

[2020-11-19 11:03] harshzalavadiya commented on #201
Okay, I'm reopening this as of now so I can keep track of this

[2020-11-22 09:17] ankiiitraj opened #208 "performance issues"
When there are lot of option, operations are slow like on clicking the select, it takes time to load the dropdown! Search also becomes slow.

This might be due to rendering lot of data.

Proposed solution:
We can have shallowOptionCount, which will limit the amount of options to be rendered at once on the dropdown. And search will help get the more results!

I have 3000+ option and I'm having thes

[2020-11-22 14:37] harshzalavadiya commented on #208
@ankiiitraj

IMHO, I think implementing lazy options based on search query might be a way to go instead of loading 3k+ items, in most scenario loading 3000+ options is never a good idea

I know virtual scrolling can be one way to solve this problem, but my only concern is that will make bundle size big and that's a very big issue

https://react-select.com/async
https://www.npmjs.com/package/react-

[2020-12-02 13:00] ashraf-commits opened #232 "Dynamic Placeholder Change"
Is there way to change the placeholder with some dynamic names with props, So currently it is there as " select..."

* Can we make select input box as borderless

[2020-12-03 05:27] harshzalavadiya commented on #232
@ashraf-commits sure, If you just want to change select into something elase you can use [internationalization](https://github.com/harshzalavadiya/react-multi-select-component#-internationalization) to customize

[2020-12-09 11:37] VivekRajak2020 opened #242 "defaultIsOpen and isOpen not working"
I passing props as true but menu is not getting opened by default.

[code]

[2020-12-10 14:19] chenshuiluke commented on #131
@harshzalavadiya hey man, thanks for working on this :)

[2020-12-10 14:42] harshzalavadiya commented on #242
@VivekRajak2020 I think you might have to use `isOpen` since `defaultIsOpen` might go away when clicked anywhere outside

![Peek 2020-12-10 20-10](https://user-images.githubusercontent.com/5774849/101786424-ecf05680-3b23-11eb-9a3f-04cb1c4c9f96.gif)

[2020-12-11 05:52] VivekRajak2020 commented on #242
Thanks @harshzalavadiya for the help but passing isOpen as true doesn't open list by default.
I am using following version
"react-multi-select-component": "^3.0.4",

[2020-12-11 05:55] harshzalavadiya commented on #242
@VivekRajak2020 please update your dependency to latest (i.e. 3.0.7)

[2020-12-17 09:03] yash-fission opened #255 "How to disable Multiselect feature."
I am searching for a boolean prop from which I can disable the multi-select feature in the component.

[2020-12-17 09:08] harshzalavadiya commented on #255
Hi @yash-fission,

This component is specifically designed for multiple-selection only :wink: , if you want single select best choice will be to use native `<select/>` but if you want it to be searchable then using [react-select](https://react-select.com/) might be a better choice

[2020-12-17 09:09] harshzalavadiya commented on #242
closing this since issue is already fixed in latest updated package

[2020-12-17 09:09] #242 closed

[2020-12-17 09:09] #232 closed

[2020-12-17 09:10] #208 closed

[2020-12-17 09:25] yash-fission commented on #255
Thanks for fast reply, What about a boolean prop from disabling the Search bar?

[2020-12-17 13:49] harshzalavadiya commented on #255
it's `disableSearch` you can see all available props [here](https://github.com/harshzalavadiya/react-multi-select-component#-props)

[2020-12-17 13:49] #255 closed

[2020-12-26 10:41] harshzalavadiya commented on #118
Fixed in `v3.0.8`

[2020-12-26 10:41] #118 closed

[2021-01-17 15:04] #131 closed

[2021-01-25 03:42] bobbyrinaldy opened #268 "Infinite scroll or Pagination things"
Hello guys, thanks for this package, so help me a lot.

it is possible for this package to implement infinite scrolling ? i mean, it will paginate to server to fetch more data when user reach the end of the scroll
because i dont see any handling for scrolling

Thanks

[2021-01-25 06:31] harshzalavadiya commented on #268
Hi @bobbyrinaldy,

Unfortunately this package isn't designed to handle infinite scrolling you might want to look at https://react-select.com/

[2021-01-25 07:41] bobbyrinaldy commented on #268
ah, ok then , thanks for your reply btw

[2021-01-25 07:41] #268 closed

[2021-02-02 05:12] tajinder89 opened #278 "Not compatible with IE 11."

[2021-02-02 05:14] tajinder89 commented on #278
I was trying to implement this library it is working fine with firefox/edge/Chrome/safari but it is not compatible with IE 11 because of both the dependencies (rooks and goober) used. Is it possible to fix it??

[2021-02-02 11:13] harshzalavadiya commented on #278
@tajinder89

There's no official IE11 support added for this module but if you are determined to do so then you can try below things and it _might_ work

- You can change target in `tsconfig.json` and try recompiling module to target ES2015
- [CSS variables are not supported in IE11 on which our style relies upon](https://github.com/harshzalavadiya/react-multi-select-component/issues/26#issuecomme

[2021-02-02 11:13] #278 closed

[2021-02-10 19:50] kboni opened #289 "Selected options can be cleared when the component is disabled"
Hi @harshzalavadiya.
When I select any number of options and then dynamically set disabled={true} I can still click on the clear-selection "X" button, which clears all selected item, but leaves the component disabled, so the component becomes unusable.
Expected behavior:  No actions (including selection-clearing) should be allowed when the component is disabled.

[2021-02-11 06:32] harshzalavadiya commented on #289
@kboni Thanks for reporting I'll check it out

[2021-02-11 15:21] #289 closed

[2021-02-11 15:27] harshzalavadiya commented on #289
@kboni latest v3.1.3 should fix this issue

[2021-02-11 17:46] kboni commented on #289
Works like a charm. Thanks. Great job. Cheers.

[2021-02-12 09:17] guido-visser opened #291 "Prop to remove close icon"
Great work on the new releases!

I recently upgraded and I noticed that you've added a clear icon. Nice! However, I'd like to see an option to remove the X from the component, since I've created a small wrapper that clears the input.

I tried to use `CloseIcon={null}` but that doesn't remove the close icon.

To be consistent with the current API, you could create a prop called: `hideCloseIcon` as

[2021-02-12 10:07] harshzalavadiya commented on #291
@guido-visser Thanks for the PR and issue but I guess you are using wrong prop it's `ClearIcon` not `CloseIcon`

Since I only check for truthy value `null` won't work but there's easy fix for this you can either use `<div/>` or `<React.Fragment/>` that will pass as truthy value and this will keep it minimal

p.s. I'll think about having seprate prop in future but as of now this keeps bundle size t

[2021-02-12 10:07] #291 closed

[2021-02-18 20:20] jonpepler commented on #119
Hi, this is quite an old issue but I just wanted to share some example code for how you might interact with this component with Testing Library. I don't know if anything relevant to this has changed since 10.4.9, but I can confirm that this example is functional in `@testing-library/react` 11.2.5. Selecting based on the placeholder works as described, but you can also select options via `getByLabe

[2021-02-24 20:50] daviddamilola opened #305 "Feature Request : grouped options support"
Thank you for your work.

I was wandering if it would be possible to have the options grouped

probably by adding a tag field to the options array

[2021-02-25 07:32] harshzalavadiya commented on #305
@daviddamilola

adding grouping built-in might be a good idea, but as of now even you can achieve similar results with customizing item renderer

![image](https://user-images.githubusercontent.com/5774849/109118636-929d8400-7769-11eb-89cb-0d00d186d351.png)

[code]

[![Edit relaxed-wood-9k51g](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/relaxed-wood-9k51g?fonts

[2021-02-26 14:25] mu7amad opened #307 "flicker loading with nextjs"
I'm trying to use react-multi-select-component inside nextJS with reactJs but i have flickering in the load time.
basically, the component appears at the beginning without any styling then looks like the styles get injected a bit late.
**on load time**
![image](https://user-images.githubusercontent.com/7469201/109311842-96530880-7846-11eb-9818-48896158d512.png)
**After load**
![image](https://user

[2021-03-01 08:37] harshzalavadiya commented on #307
@mu7amad will you be able to provide working nextjs example since this is just same example component

[2021-03-02 04:01] breynolds-dev opened #317 "Feature Request: custom trigger element"
Just picked up the library and it's been very useful for me, but there was a use case I ran into where I would love to still use all the logic and everything built into using the dropdown, but I want to replace the triggering element with a custom element instead.

Looking over the source and testing it out I was able to replicate sort of what I imagined in a very simplistic solution:
[code]

just

[2021-03-02 04:58] ganesh-sanap opened #318 "Showing "Select All" even if there are no search results."
## Actual Behavior

When user searches & there are no results found for search criteria, dropdown still shows "Select All" option.

On click of "Select All", it does not select anything as there are no results. So, it is confusing to users.

![image](https://user-images.githubusercontent.com/25476310/109599693-a23e1380-7b41-11eb-9f80-52f05eb068bc.png)

## Expected Behavior

When there are no searc

[2021-03-02 08:23] mu7amad commented on #307
yes I'm doing right now the same example component until now
https://codesandbox.io/s/ancient-framework-4gts7
what is happening that the component is not supporting the server-side rendering so the CSS is injected late in the page. you can see that if check the page source https://4gts7.sse.codesandbox.io/ as in the server-side rendering the CSS must be in the page source from the beginning.
maybe

[2021-03-02 08:47] harshzalavadiya commented on #317
@breynolds-dev I think you should be able to achieve same result using css overrides + custom renderer, I have unique classnames added to most components just for this reason

https://user-images.githubusercontent.com/5774849/109622172-d4f80400-7b61-11eb-8ba4-61c2af775061.mp4

[code]

[code]

[2021-03-02 08:53] #305 closed

[2021-03-02 09:04] harshzalavadiya commented on #307
hi @mu7amad I tried opening reproduction but it opens as expected, also I have used this component in multiple next.js projects but never faced this isssue

https://user-images.githubusercontent.com/5774849/109623583-4dab9000-7b63-11eb-955b-b9ec0bcb0988.mp4

Most probable cause of this issue might be because too much rendering happening at once and due to that js never initializes on time and so i

[2021-03-02 09:08] harshzalavadiya commented on #318
@ganesh-sanap yeah, probably add an fallback for `no options` like `react-select`
![no-options](https://user-images.githubusercontent.com/5774849/109625081-e8589e80-7b64-11eb-9ca5-9a13b2168515.png)

[2021-03-02 09:12] mu7amad commented on #307
Thanks for your support, you are right you can't reproduce it here because a very small page with no other content with it, but in our situation, we have a big page everything normally comes ready from the server but only the multi-select component comes late

[2021-03-02 11:10] ganesh-sanap commented on #318
@harshzalavadiya Yes, that will be a great addition!

[2021-03-02 12:26] breynolds-dev commented on #317
I will give that a try. The only problem I see is the type is expecting valueRenderer to return a string, could that type be updated to accept a string or JSX.Element?

[2021-03-02 16:31] #317 closed

[2021-03-02 16:36] harshzalavadiya commented on #317
`v3.1.4` released

[2021-03-03 00:14] scarow commented on #268
Hey there! I wanted to piggy-back this question and ask about hooking into the search functionality. When a user updates their search query, I'd like to hit the API and update the dropdown options accordingly. Is there a way to do this?

I'm currently trying to hack around the `filterOptions` as that seems to be the only place where the search filter gets exposed, but maybe I'm just missing it.

[2021-03-03 01:55] scarow commented on #268
Update, I figured out how to make the API calls:

`
// inside react component
const [filter, setFilter] = useState('');

useEffect(() => {
    if (apiFilterFunction) {
      // call API with filter
      apiFilterFunction({ query: filter });
    }
  }, [filter])

  const filterOptions = (options: DropdownOption[], filter: string) => {
    if (!filter) {
      return options;
    }

    // use hook

[2021-03-03 09:35] harshzalavadiya opened #320 "feature: async filterOptions"
Hey there! I wanted to piggy-back this question and ask about hooking into the search functionality. When a user updates their search query, I'd like to hit the API and update the dropdown options accordingly. Is there a way to do this?

I'm currently trying to hack around the `filterOptions` as that seems to be the only place where the search filter gets exposed, but maybe I'm just missing it.

_

[2021-03-03 09:36] harshzalavadiya commented on #268
I have created a seprate issue to track this since async filterOptions can be a new enhancement

[2021-03-03 09:36] harshzalavadiya commented on #268
@scarow I have created a seprate issue to track this since async filterOptions can be a new enhancement

[2021-03-03 15:56] scarow commented on #320
Woah you are FAST!! Thanks so much; I'm launching my start up in the next few weeks and this is a life-saver :)

[2021-03-03 16:32] #320 closed

[2021-03-03 16:37] harshzalavadiya commented on #320
@scarow released `v3.1.5`

and congratulations and best of luck on your startup :tada:

[2021-03-03 16:43] harshzalavadiya commented on #318
@ganesh-sanap released `v3.1.5` should fix this issue

[2021-03-03 16:43] #318 closed

[2021-03-12 17:15] zachtaylor21 opened #325 "onMenuToggle gets called on first render"
I noticed that the `onMenuToggle` prop gets called on the first render. Is this the intended functionality? To me, it feels like `onMenuToggle` should only be called when the user actually toggles the menu.

[2021-03-13 07:55] harshzalavadiya commented on #325
@zachtaylor21 thanks for reporting this, AFAIK must because of useEffect

[2021-03-15 16:36] #325 closed

[2021-03-15 16:44] harshzalavadiya commented on #325
@zachtaylor21 released `v3.1.6` should fix this

[2021-03-15 18:21] zachtaylor21 commented on #325
@harshzalavadiya Awesome, thanks!

[2021-03-21 02:30] ltcrawshaw opened #336 "overrideStrings syntax"
I can't seem to get the overRideStrings property to work. It seems to be syntax. Could you share an example of how to override the following key value pair?

 "selectSomeItems": "Select..."

[2021-03-21 12:18] harshzalavadiya commented on #336
@ltcrawshaw you can find allowed strings in docs &rarr; https://github.com/harshzalavadiya/react-multi-select-component#-internationalization

[2021-03-21 12:18] #336 closed

[2021-03-23 02:30] Youn-ha opened #343 "Cannot apply custom Icon"
<img width="963" alt="스크린샷 2021-03-23 오전 11 27 27" src="https://user-images.githubusercontent.com/49135241/112083674-d352b680-8bca-11eb-959e-2d8cdce73208.png">

**(screen capture above is normal case)**

<img width="968" alt="스크린샷 2021-03-23 오전 11 23 36" src="https://user-images.githubusercontent.com/49135241/112083365-398b0980-8bca-11eb-9ddc-073814bc12dd.png">

**(screen capture

[2021-03-23 06:23] harshzalavadiya commented on #343
Hi @Youn-ha,

instead of passing as function please pass it as rendered component like below and it should work as expected

[code]

[2021-03-23 13:22] harshamv opened #344 "Z-Index Issue"
When I focus on the Dropdown It slides below my card component like below

[https://imgur.com/a/QDtqi8o](https://imgur.com/a/QDtqi8o)

I am not able to fix the z-index to overlap on my card component.

[2021-03-23 14:39] harshzalavadiya commented on #344
@harshamv this looks like CSS `overflow:hidden` kinda issue on card removing it should resolve issue

![image](https://user-images.githubusercontent.com/5774849/112164207-b393b080-8c13-11eb-8270-c221ea70ca6c.png)

[2021-03-23 14:39] #344 closed

[2021-03-23 14:40] #343 closed

[2021-03-24 00:44] Youn-ha commented on #343
Hi @harshzalavadiya ,

I tried below -

1.
[code]
**`===> type error : Type 'Element' is not assignable to type 'string | Function'.`**

2.
[code]
**`===> there was no type error, but clear button didn't show up.`**

3.
[code]
**`===> this one either.`**

(And sorry btw how can I show subtracted/added code like you in code markdown? I tried to google it but failed to find it)

[2021-03-24 08:51] harshzalavadiya commented on #343
@Youn-ha

- First approach is correct *type error* might be due to incorrect TypeScript interface that was defined by me, I have created a PR that should resolve this issue
- you can use backticks with `diff` extension diff files will be automatically highlighted when there's `+` or `-` as first charactor

[2021-03-24 08:55] harshzalavadiya commented on #343
released `v3.1.7` should fix this typecheck issue

[2021-03-24 23:15] Youn-ha commented on #343
I updated to `v3.1.7` and it works well! Thank you so much

[2021-03-26 15:47] #197 closed

[2021-03-26 15:47] #201 closed

[2021-03-26 15:47] #307 closed

[2021-03-26 16:19] harshzalavadiya commented on #201
@milojevic1991 released `v4.0.0`

[2021-03-26 16:20] harshzalavadiya commented on #307
@mu7amad  released `v4.0.0` should fix this since CSS is pre-loaded with component not compiled at runtime

[2021-03-26 16:21] harshzalavadiya commented on #197
@yuvalshim `v4.0.0` has introduced permanant sticky searchbar

[2021-03-30 06:57] yuvalshim commented on #197
Very nice. Great work

[2021-03-31 21:53] ramesh-joshi opened #349 "Feature Request: Can we get a option to delete individual selected items"
Hi Team,

Can we get a option to show the delete icon for individual selected items something like this, (_X icon inside the red circle_ )

![image](https://user-images.githubusercontent.com/11056602/113216228-d8e67700-9230-11eb-8f4b-eb2d6df0201d.png)

Thanks,
Joshi

[2021-04-01 08:37] harshzalavadiya commented on #349
@ramesh-joshi this is easily possible by using custom renderer like below

[code]

https://user-images.githubusercontent.com/5774849/113266774-435feb80-92f3-11eb-8c6f-0e16bf0c8145.mp4

but the best option will be to go with `react-select`

[2021-04-01 08:37] #349 closed

[2021-04-01 18:39] ramesh-joshi commented on #349
Hi @harshzalavadiya,

Thank you so much for this.

Yeah, I did the same way and its working fine but only one problem is there, when we click the delete item icon the bottom menu items pops-up alternatively. if we can fix this then it will be prefect package.

This package is very light weight and has most of the features so not planning to use another (_react-select_) package.

Thank you

[2021-04-02 06:42] harshzalavadiya commented on #349
@ramesh-joshi yes this can be done making changes as below

[code]

[2021-04-03 14:45] bnranjith commented on #175
Hey @harshzalavadiya  greatly appreciate your work .
Was facing a issue in setting the height, was finding it difficult to override the height, used `!important`  didn't help.(using it with styled component).

[2021-04-04 15:34] harshzalavadiya commented on #175
@bnranjith sorry, I didn't quiet understand, is this related to this issue? if yes then please create new issue with detailed explaination or some screenshot

[2021-04-11 06:54] harshzalavadiya commented on #155
Reopening due to issue is back in v4

[2021-04-11 18:21] emaanhaseem opened #358 "Changing Dropdown Header Title"
Hi I'm a student using this component for a school project, and it has been super helpful so far!
But I'm not sure if `aria-labelledby` and changing the `labelledby` is supposed to change the header title. When inputting `labelledBy="Sort By"` into the MultiSelect component, the dropdown title remains unchanged: "Select...".
Can this be fixed?

[2021-04-11 18:25] emaanhaseem commented on #358
Just saw that that's not the function of `aria-labelledby`. However, can this feature still be implemented?

[2021-04-12 06:45] harshzalavadiya commented on #358
Hi @emaanhaseem

`aria-labelledby` is an accessablity attribute it is for screen readers, to change text please override `overrideStrings` keys as below https://github.com/harshzalavadiya/react-multi-select-component#-internationalization

[2021-04-12 06:45] #358 closed

[2021-04-13 09:13] #155 closed

[2021-04-14 09:27] thetrime commented on #165
This appears to still be a problem in Safari 14.0.3, but I'm not sure whose fault it is. The general problem is that clicking on the div which contains the clear icon triggers an onClick on the button, even if you don't click on the button itself.

It seems to require more than just this - a very quick test with plain HTML doesn't reproduce it, but I certainly see the same behaviour as @vladpre92

[2021-04-14 09:39] thetrime commented on #165
Aha. Specifically, it happens if you have a pattern like this:
[code]

Clicking on the text will trigger the event on the button.

I can't tell if this is what the original author was doing, but it _is_ true that you aren't allowed a div inside a label

[2021-04-29 06:52] tofful opened #378 "Bug: ClearSelectedIcon button not working using keyboard"
**Current:**
When user has selected items,
and user want to delete items by using the keyboard `[Tab]`,
and user focus on `ClearSelectedIcon` button,
and user press `[Enter]` or `[Space]`
then user is not able to remove selected items but it expands the menu instead.

**Desired:**
As a user, I'd like to be able to use the keyboard to delete items when it is focused on `ClearSelectedIcon` and press

[2021-04-29 07:46] harshzalavadiya commented on #378
@tofful thanks for reporting this bug, I'll try to fix it in few days

[2021-05-01 05:17] tofful opened #380 "Feature request: Options from API when expanding the dropdown"
As a developer,
I'd like to call an API to populate the options only if user expands the dropdown menu. (When no options available) if the API already returned the Options then not needed to call it again.

Use case:
Having 10 multiple Select dropDown in a page where each dropdown fetch its own options from different APIs could be killing if the user didn't even interacted with those Select Dropdo

[2021-05-01 11:16] harshzalavadiya commented on #380
@tofful

I'm glad you are enjoying this library, We already have this prop it's `onMenuToggle` which accepts function that will take boolean (state of menu if opened then `true` and `false` on close) that should solve your problem

Storybook Example: https://react-multi-select-component.netlify.app/?path=/docs/basic--example-default

*note to self: add `onMenuToggle` prop in `README.md`*

[2021-05-01 20:28] tofful commented on #380
Hi @harshzalavadiya `onMenuToggle` method sounds fantastic! thank you for recommending it and also for adding it to the Readme.md

[2021-05-01 20:28] #380 closed

[2021-05-07 08:46] DimitarTB commented on #175
I would like to add that the dropdown component should expand in automatic direction based on its position inside of the webpage. Example - If the sum of the vertical offset of the dropdown and its height is greater than the page height, it should appear above, else below. I have done this on my own components before and it worked perfectly. I tried implementing this to `react-multi-select-compone

[2021-05-10 11:13] Kamalashree-24 opened #382 "Bug: Selecting "Select-All" option removes the earlier selected options."
Hi,
Thank you for your work. It is really a good library to use for dropdowns.

Currently facing an issue in this library, mentioned the use case below.
1. First user selects an option from the list.
2. Then the user searches for a specific string and dropdown filters out the options based on user search.
3. Now the user selects "select-all" option based on user search.
4. what happens is that use

[2021-05-17 15:55] maejoh opened #388 "Bug: Cannot have duplicate labels"
If you have two options with the same label but different values, selecting one also selects the other.

I'm using disabled options as headers for different categories, and some categories have options with the same labels but representing different entities. When you toggle one of these labels, both are added/removed from the selection.

[2021-05-19 06:13] harshzalavadiya commented on #388
Thanks for the report I'll try to fix in a few days, but PRs are always welcomed 🙂

[2021-05-19 06:14] harshzalavadiya commented on #382
Thanks for the report I'll try to fix in a few days, but PRs are always welcomed 🙂

[2021-05-19 09:34] #378 closed

[2021-05-19 09:41] harshzalavadiya commented on #388
@maejoh,

I had time to check looks like it's unlikely if your value if different it should not happen
![Peek 2021-05-19 14-39](https://user-images.githubusercontent.com/5774849/118791284-2f2c7980-b8b4-11eb-9f57-872fdd2942aa.gif)

If you are able to reproduce this then please provide minimal sandbox

[2021-05-19 09:42] harshzalavadiya commented on #378
released `v4.0.2` should fix this issue

[2021-05-28 12:14] Musadiqkhan-nullbrainer opened #393 "Required Parameter"
I tried adding required parameter but it is not working. Is it possible to have a required parameter just like a basic html select element?

[2021-05-31 13:09] harshzalavadiya commented on #393
@Musadiqkhan-nullbrainer

I'm not sure if HTML5 validation can be directly used with custom components
The hacky way to do this might be like [this](https://codesandbox.io/s/shy-darkness-717bl?file=/src/App.js)

but, your best bet might be to use it with something like [react-hook-form](https://react-hook-form.com/) (Recommended) or [Formik](https://formik.org/)

[2021-05-31 13:11] harshzalavadiya commented on #388
closing this since no response from issue author feel free to comment if issue persists

[2021-05-31 13:11] #388 closed

[2021-06-01 22:26] swathi-kajjam opened #397 "Unable to pass Custom Options"
Is there a way to pass my own custom Option object without predefined {label and value}

[2021-06-08 14:18] ganesh-sanap opened #400 "Search box does not allow "space""
## Actual Behavior

When user searches in textbox, it does not allow "space". Maybe `.trim()` is added somewhere in on change handler of search textbox.

![image](https://user-images.githubusercontent.com/25476310/121201687-54e4e700-c892-11eb-81e3-8a3a6613eb20.png)

## Expected Behavior

Search textbox should allow users to enter "space".

[2021-06-08 15:41] harshzalavadiya commented on #400
@ganesh-sanap v4.0.1+ has this issue fixed, please update to latest

[2021-06-08 15:42] harshzalavadiya commented on #397
@swathi-kajjam I think as of now `value` can not be changed for `value` you can write custom renderer and tha should be able to do it

[2021-06-23 15:38] gagandeep-s opened #409 "TypeError: Cannot read property 'length' of undefined"
Getting below error on react v17.0.1

![image](https://user-images.githubusercontent.com/26773871/123126277-e04fa200-d466-11eb-8e3f-4bfe20c719e9.png)

`const [locs, setLocs] = useState([{ label: "Branch 1", value: "1" }, { label: "Branch 2", value: "2" }]);`

`<MultiSelect
                        disableSearch={true}
                        options={locs}
                        value={[locs[0]]}

[2021-06-23 15:46] gagandeep-s commented on #409
![image](https://user-images.githubusercontent.com/26773871/123127821-412baa00-d468-11eb-90ee-58606b97f299.png)

[2021-06-23 15:53] gagandeep-s commented on #409
Another finding:

This component is incompatible with antd Forms

`<Form.Item
                  name="test"
                  label="Test"
                  rules={[
                    {
                      required: true,
                    },
                  ]}

                    labelledBy="Select Test"
                    value={[getOptions()[0]]}
                    options={getOption

[2021-06-23 15:57] harshzalavadiya commented on #409
Hi @gagandeep-s,

This doesn't look like react issue at all it's syntax used is the issue you should use options seprately and set value seprately

[code]

[2021-06-23 16:01] harshzalavadiya commented on #409
I'm not sure about antd form but it probably already has multiple select component
This component is genric provides no direct integration with any 3rd party library out of box but you should be able to write custom wrapper around it

[2021-06-23 16:02] #400 closed

[2021-06-23 16:02] #397 closed

[2021-06-23 16:03] #393 closed

[2021-06-23 16:04] gagandeep-s commented on #409
Thanks for your input, I've somehow managed it.

[2021-06-23 16:04] #409 closed

[2021-06-23 16:06] gagandeep-s commented on #409
the solution proposed by you is not correct, because the same thing works well without antd form item.

[2021-06-23 16:12] harshzalavadiya commented on #409
Not sure, I may have misunderstood it, but whatever works for you

[2021-07-09 07:53] BillPackard007 opened #417 "Optional Checkbox and single select"
Hi there,
   You did a good job on this package.
    Some time 'single select' selection option need, so I worked in my code  to remove/pop the old selected array values and push.
   If single select option is available by default by adding multiSelect={false} attribute like this, would be helpful.

  And one more, option check box too on single select.
  https://prnt.sc/19ok8b1 - direct link
![si

[2021-07-09 11:01] harshzalavadiya commented on #417
@BillPackard007

as of now it's only designed for multiple selection, you can use react-select / html5 select as it works best for single selection

[2021-07-23 13:08] jamesmart77 opened #429 "labelledBy prop does not insert customText as placeholder text"
Hello,
Super cool component! When adding custom text to `labelledBy`, I would expect the value  I provide to override the default "Select..." value, but that is not happening.

My Implementation
[code]

This is what is rendered
![image](https://user-images.githubusercontent.com/29242164/126786106-48b365e7-c451-449b-b9c1-96814ead615f.png)

Let me know if this is something I am doing wrong.

[2021-07-23 14:24] harshzalavadiya commented on #429
@jamesmart77

glad you liked it, `labelledBy` prop is for accessiblity you can use `overrideStrings` to change placeholder

[code]

https://github.com/harshzalavadiya/react-multi-select-component#-internationalization

[2021-07-23 14:49] jamesmart77 commented on #429
![bitmoji](https://sdk.bitmoji.com/render/panel/21759482-c054-4dc5-aaef-e9ce15cf7e3a-41f39225-5469-45c9-81eb-e9262c9c35ad-v1.png?transparent=1&palette=1&width=246)

Thanks for the quick response!!

[2021-07-23 14:49] #429 closed

[2021-07-29 18:39] trevor-sutherland commented on #380
Hi @tofful, I haven't had luck using an API to populate the options.

Do you mind sharing how you're doing it?
when I copy the results of my data transform into an options variable like the example shows it works, but I can't get options={props.options} to work.

[2021-08-02 02:45] wongCH opened #438 "Component Options do not update when the state changes"
Describe the bug:
When options state is updated, the dropdown do not show the new value.

To Reproduce:

[code]

This only happens from version 4.0.2 onwards. No issue with version 4.0.1

Sample Code using Version 4.0.3
https://codesandbox.io/s/react-kerl-bug-0hm06?file=/src/App.js

Desired behaviour:
When Option state changes, component should reflect the state just like in version 4.0.1

[2021-08-02 06:48] harshzalavadiya commented on #438
@wongCH It looks like you are trying to print `options` instead of `selected`

it should be something like below
[code]

[2021-08-02 07:22] wongCH commented on #438
Hi @harshzalavadiya ,

When page first load, the Option only have Grape:

<img width="867" alt="Before" src="https://user-images.githubusercontent.com/6981489/127817091-7104fb7f-55ac-4cda-af30-91f848fab79b.png">
**Picture above depicts the Option state that only contains "Grape".**

To simplified my scenario,i wrote a function to overwrite the Option to the following:
`  "[{"label":"Mango 🥭","valu

[2021-08-02 07:26] wongCH commented on #438
@harshzalavadiya ,
Below is the picture when i change the version to 4.0.1, version 4.0.2 and version 4.0.3 dropdown do not populate Mango and Strawberry:

<img width="1082" alt="correct" src="https://user-images.githubusercontent.com/6981489/127820611-8d51bcd2-7f7c-4f59-93e0-66753aafc527.png">

[2021-08-02 09:11] harshzalavadiya commented on #438
@wongCH my bad, yes you are right, I looked at different thing, I'll try to see and fix this

[2021-08-02 09:29] #438 closed

[2021-08-02 09:40] harshzalavadiya commented on #438
@wongCH issue is fixed in latest release `v4.0.4+`

[2021-08-02 09:43] wongCH commented on #438
@harshzalavadiya  thank you so much.

[2021-08-03 12:49] nitish2507 opened #440 "dropdown width keeps increasing with more elements selected"
the dropdowns keep expanding with more items selected and it's breaking the UI.
looking for suggestions on how to override the CSS to achieve this as we don't see any available props for it.

[2021-08-03 13:14] harshzalavadiya commented on #440
@nitish2507 Please provide reproduction codesandbox if you have any issues

most components have standerd classes attached to it you can override classes in your choice of framework by targeting that class

[2021-08-04 15:14] jeffsmonteiro opened #442 "Feature Request: select single option"
The component is amazing, but when I need to use a simple single select I need to use another component. So, may be a good idea provide the option to this component provide a single option select too.

[2021-08-05 09:28] damir-ivanic opened #443 "Disabled styles"
There is no good way to apply styles for the component when it's disabled.
If you click on it while it's disabled it gets a blue outline. That can trick users into thinking it is active but that's something wrong with it. Any thoughts on how to style it?

[2021-08-05 15:00] #443 closed

[2021-08-05 15:04] harshzalavadiya commented on #442
Duplicate of #417

@jeffsmonteiro I have been thinking about this for a long time but since this requires some fundamental changes in component, I'll try to add this in near future

PRs are welcome

[2021-08-05 15:13] harshzalavadiya commented on #443
issue is fixed currently GitHub is having issues with GitHub Action Builds, I'll create a new release new version as soon as it fixes

[2021-08-07 20:56] govindsartaj commented on #442
Kind of a hacky way to do it, but you can use `useEffect` to ensure that there is only one option selected. I did it like this:
[code]

[2021-08-07 20:56] govindsartaj commented on #417
Kind of a hacky way to do single selection, but you can use `useEffect` to ensure that there is only one option selected. I did it like this:
[code]

[2021-08-09 08:19] zillBoy opened #446 "Style Color for Light and Dark Theme"
I have the value for light and dark themes, but I don't know how to override them into CSS files, because I have the value in javascript.
Possible Solution: If I had a **styles** props then things would have been much easier!

[2021-08-09 09:01] harshzalavadiya commented on #446
@zillBoy

Overriding styles are easy, you just have to use prefers color scheme property and it should work as expected

[code]

As you are saying you are getting this from javascript you can even do something like this in your choice of framework

[code]

and then use it like this in your component

[code]

[![Edit rmsc-dark-mode](https://codesandbox.io/static/img/play-codesandbox.svg)](https://c

[2021-08-09 09:02] harshzalavadiya commented on #442
closing this so we can track this on other issue

[2021-08-09 09:02] #442 closed

[2021-08-10 06:07] zillBoy commented on #446
Dear Harsh Zalavadiya,
Thank you for taking the time to resolve the issue. 😃
Both light and dark theme is now working fine, however, there is a small issue when I change the theme to dark the **Select options** color remains black. With a dark theme, I want the select options color changed to white.

I'm resolving this by adding the below line in CSS file.

`.rmsc .options {
  color: #fff;
}`

I'v

[2021-08-10 06:07] #446 closed

[2021-08-16 10:30] cubecleveland opened #453 "Remote load"
hi,

sorry for posting here but is there any way to use remote load and serach on this componenet ?

[2021-08-16 10:58] harshzalavadiya commented on #453
@cubecleveland Yes It's possible.

I have created a small example you can modify it as per your needs

[![Edit rmsc-filter-options-async](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/rmsc-filter-options-async-0gk39?fontsize=14&hidenavigation=1&theme=dark)

[code]

[2021-08-16 12:51] cubecleveland commented on #453
This is uperb. Im sure you already did this before so ill go ahead and asked.. any chance to send an example that will be debounced and not shoot thew api on every keystroke..  maybe every 1000ms ?

Thanks a bunch!

[2021-08-16 12:59] harshzalavadiya commented on #453
@cubecleveland this is built in simply use prop `debounceDuration` (in ms 2000 means 2 seconds)
![image](https://user-images.githubusercontent.com/5774849/129567505-012188db-a73e-4c71-8bab-19adeda69298.png)

[2021-08-17 12:50] cubecleveland commented on #453
Absolutely wonderful. and its exactly what i need i have 2 questions. can i
show the component already open with the first alue from async already
loaded. also can i always leave it open ? (so basically the combos
stais open all the time)

CUBE Workspace
Corporate: 6240 Som Center Rd #130
Solon, OH 44139
T: 216.245.9629

On Mon, Aug 16, 2021 at 9:00 AM Harsh Zalavadiya ***@***.***>
wrote:

[2021-08-17 13:14] harshzalavadiya commented on #453
@cubecleveland pre-loaded/pre-selected should work as is, controlling open state/always open is not available

[2021-08-19 11:02] Saiharish129 opened #457 "Facing error while i am doing my project build"
Hey when i am using this node module , its working locally fine but when build is failing

ERROR in bundle.js from UglifyJs
Unexpected token: keyword<<const>

[2021-08-19 12:34] harshzalavadiya commented on #457
@Saiharish129 please provide reproduction, this is unlikely due to `react-multi-select-component`

[2021-08-28 15:31] #453 closed

[2021-08-28 15:31] #457 closed

[2021-08-28 15:31] harshzalavadiya commented on #440
closing due to no response

[2021-08-28 15:31] #440 closed

[2021-08-29 00:19] macielgaleano opened #466 "Focus select"
Hello!

I have a question... the library support take out the focus?
If so, can you tell me how

Thanks for the support, keep in that way!

[2021-08-30 06:24] harshzalavadiya commented on #466
@macielgaleano I don't get your question, do you mean by onBlur event like any other element, or you just want to style it when out of focus?

[2021-08-30 07:15] bruceoh-rtm opened #467 "does anyone have import issue for 4.1.5?"
I am having import issue with typescript.

wondering if anyone is having same problem.

import  {MultiSelect}  from "react-multi-select-component";
Cannot find module 'react-multi-select-component' or its corresponding type declarations.

[2021-08-30 07:22] harshzalavadiya commented on #467
@bruceoh-rtm can you provide more information?

is it CRA/Next.js ?
TypeScript/JS ?

[2021-08-30 07:41] harshzalavadiya commented on #467
@bruceoh-rtm I was able to isolate issue, due to move from `tsdx` to `microbundle` TS typings reference was missing and so production build w/ CRA + TS was failing

update to `v4.1.6` to fix this issue

closing this for now, feel free to re-open if you are still having issues

[2021-08-30 07:56] harshzalavadiya commented on #467
reopening this there's some wierd bug w/ microbundle

[2021-08-30 08:12] harshzalavadiya commented on #467
fixed in `v4.1.8`

[2021-08-30 08:12] #467 closed

[2021-08-30 13:33] macielgaleano commented on #466
@harshzalavadiya

I have already found what i wanted.

Thanks you.

[2021-08-30 13:33] #466 closed

[2021-08-30 21:38] sharpk1 opened #468 "JSX element type 'MultiSelect' does not have any construct or call signatures"
Has anyone using TypeScript in their project ever seen something like this? Here is the full error:
[code]

This error gets thrown whenever I try to docker build or it hits the Jenkins build pipeline. The component itself runs just fine. Any help would be greatly appreciated!

[2021-08-31 06:04] harshzalavadiya commented on #468
@sharpk1 If possible can you provide minimal reproduction?,
most probably node version/ts version might be an issue, try to match the same and should work as is...

[2021-09-02 00:21] sharpk1 commented on #468
@harshzalavadiya  No worries, I ended up npm uninstalling and then npm installing with --force. There was some sort of discrepancy in versions and it not showing up with my linter. I ended up adding brackets around the import statement like so and it works just fine now: `import { MultiSelect } from 'react-multi-select-component';`

[2021-09-02 00:21] #468 closed

[2021-09-06 15:04] BahaMagi opened #473 "CSS 'transition all' affects overwrites"
Some classes like `select-item` classes have transitions set as `transition: all .2s ease;`. This messes with custom overwrites. It would be nice to have more targeted css transitions to ensure that custom overwrites for example on hover effects dont get affected.

[2021-09-07 06:42] harshzalavadiya commented on #473
@BahaMagi transition is also simple css, you should be easily be able to override or remove it by using below CSS rule

[code]

[2021-09-07 08:15] BahaMagi commented on #473
Thank you for the quick response! I solved it in my case by just removing the transitions on the components I changed:
[code]
Argument was rather that if I wanted to keep existing transitions but add new styling to for example the hover state the transitions will automatically take effect.
If the transitions for the default rendering/styles were targeting the props they are supposed to affect it w

[2021-09-07 08:15] #473 closed

[2021-09-07 16:49] sharpk1 opened #474 "Bug: Select-All, filter down via search, and then either selecting all again or selecting an option will leave the array still filled with previous options"
First of all, thank you so much for taking the time, effort, and energy to write such a dynamic component!

I do have this lingering bug I have been trying to work through on my project.

**The setup**: My MultiSelect component is created in such a way that it will render with all options selected. If all options are selected, all of the options on my schema table will be rendered. If nothing is s

[2021-09-08 08:12] harshzalavadiya commented on #474
@sharpk1 thanks for reporting this, actully it was supposed to always filter shown option so if it;s filtered it should always apply to filtered options

because if you want to clear all values you can use cross (x) next to dropdown caret icon

I have made two changes in order to fix this
- "select all" will always work for filterd values if there's filter value
- to make this explicitly clear I h

[2021-09-08 08:35] harshzalavadiya commented on #474
released `v4.1.10`

[2021-09-09 05:03] kiranFullStack opened #476 "Need to change the placeholder to a custom prop value"
Change the filter placeholder from "Select..." to any custom value like Country, State, City etc etc

[2021-09-09 05:22] harshzalavadiya commented on #476
please use override strings

https://github.com/hc-oss/react-multi-select-component/blob/master/docs/recipes/localization.md

`overrideStrings={{selectSomeItems: "xyz"}}`

[2021-09-09 05:22] #476 closed

[2021-09-10 09:04] PierrickG1 opened #477 "Remove focus on first element if disableSearch is set to true"
Hi,

I would like to report a bug on the drop down menu if you disable the search, the first element has the background focused by default.
It is possible to disable this focus on the first element if search is disabled ?
Reproduction sandbox : https://codesandbox.io/s/awesome-haze-zbsdx?file=/src/App.js

version used: 4.1.8

Thanks :)

[2021-09-13 06:27] harshzalavadiya commented on #477
@PierrickG1 If search is disabled it's suppose to automatically focused on next available element so it will make it easy for screen readers any specific reason on why this should not happen?

[2021-09-13 06:28] #474 closed

[2021-09-13 21:51] rfb opened #478 "bug in package.json"
Just attempted to add react-multi-select-component to a create-react-app project. Met with this error:

[code]

Did a quick look in `node_modules/react-multi-select-component/package.json` and I see that `main` is a file that doesn't exist: `./dist/react-multi-select-component.cjs.js`.

If I change `main` to `./dist/react-multi-select-component.cjs` the app compiles.

[2021-09-13 22:10] harshzalavadiya commented on #478
@rfb my bad I was trying out something and accidently published canary package please try now

[2021-09-13 22:40] rfb commented on #478
👍 looks good, thank you for publishing this library!

[2021-09-13 22:40] #478 closed

[2021-09-16 12:06] justinlittman opened #479 "React 17 peer dependency"
React 17 is listed as a peer dependency of react-multi-select-component. With NPM 7, peer dependencies are now installed by default. In the case of my React 16 app, this results in:
[code]

Does the peer dependency need to be React 17 or can the React version be lowered?

(Thanks for considering.)

[2021-09-16 14:13] harshzalavadiya commented on #479
I guess 16+ should be fine, I'll downgrade peer dependency to 16+

[2021-09-16 14:53] justinlittman commented on #479
Thanks!

[2021-09-17 07:28] harshzalavadiya commented on #479
@justinlittman I have published `v4.1.12` that should allow react 16+ as well

also updating all dependencies to 17+ is highly recommend :smile:

[2021-09-17 10:51] #479 closed

[2021-09-22 13:35] charlo-chopin opened #482 "Add custom props to change wording in placeholders (select, search textbox)"
Its seems there is no way to customize the placeholder "Select..." and "Search".
It could be nice for multi language websites : )

[2021-09-24 11:07] harshzalavadiya commented on #482
@charlo-chopin its already there

https://github.com/hc-oss/react-multi-select-component/blob/master/docs/recipes/localization.md

[2021-09-27 07:19] charlo-chopin commented on #482
Great thank you!

[2021-09-27 07:50] #482 closed

[2021-10-01 14:18] harshzalavadiya commented on #477
closing this due to no response

[2021-10-01 14:18] #477 closed

[2021-10-01 14:20] harshzalavadiya commented on #382
this bug was fixed earlier now it retains existing selection when choosing select-all in filtered view

[2021-10-01 14:20] #382 closed

[2021-10-08 05:57] coding-Alice opened #493 "Is there a way to remove close Icon?"
Hi, I'm new to React, I am not good at setting props property.
I see that we have a "ClearIcon" for to custom our clear icon. What if I want to remove the icon, would it be possible?

It would be nice if example is provided.

[2021-10-08 07:47] coding-Alice commented on #493
Thank you! This worked so nicely!

[2021-10-08 07:47] #493 closed

[2021-10-11 13:51] ghost opened #494 "Get Selected options"
Is there a way to show what was selected previously in the dropdown?

[2021-10-11 14:38] #494 closed, assigned to nobody

[2021-10-18 00:56] jemmyw opened #495 "Make style injection configurable"
I've been trying to make the component work inside a shadowRoot web-component but it injects the styles into the document.head tag.

It'd be nice if style injection could be controlled. For example, emotion has a provider that will configure all emotion based components in the tree: https://emotion.sh/docs/cache-provider

[2021-10-19 19:40] lensbart opened #497 "ClearSelectedIcon={null} should render no “clear selected” icon"
Thanks for this component. Very intuitive!

I think there’s a falsiness test somewhere that doesn’t take into account that `null` is a valid React node.

A satisfactory workaround is `ClearSelectedIcon={<></>}`

[2021-10-25 22:53] Amerzel opened #498 "Close Dropdown on Select"
Is there any way to make the dropdown close when an item is selected? I like having the ability to be able to select more than one thing and this library is great but would love to have the ability to automatically close the dropdown when an item got selected.

Thanks!

[2021-10-27 09:42] #498 closed, assigned to nobody

[2021-10-28 07:07] anilkumarmr opened #499 "Issues with Select all and filter options in 4.1.13"
I found 2 issues with the component
   1)Filter option is executing everytime the option is selected which is not ideal.
     Especially while performing async calls, because it will cause multiple api calls eventhough the search text is not changed
   2)Select all is not selecting all the available options [codesandbox](https://codesandbox.io/s/peaceful-kapitsa-c6ct5-c6ct5)

[2021-11-08 15:06] anilkumarmr commented on #499
Any updates on the issues?

[2021-11-08 16:43] harshzalavadiya commented on #499
@anilkumarmr thanks for reporting this but this could take a while since I don't have much time to work on this due to personal reasons but PR is always welcome :)

[2021-11-11 12:55] pewax opened #509 "Dropdown overflows in column grid"
The problem is:
I require multiple Multiselect components side by side, column-wise. However, when adding two or more Multiselect components inside a flexbox div, the dropdown item list will keep expanding when selecting more elements and then overflow.

 https://codesandbox.io/s/gallant-shape-35xzz?file=/src/App.js

[2021-11-11 13:12] harshzalavadiya commented on #509
@pewax I don;t get this fully

*if you mean by elipsis (...) instead of overflow?*
in this case you can use custom renderer or override css to go multiline

*or do you mean that textboxes are resizing itself?*
in this case you can use grid layout instead of flex box

[2021-11-11 14:31] romseguy opened #510 "Enhancement: isCreatable"
Hello, how about allowing to override `Create "string"` ? Let's add `"createItem"` in https://github.com/hc-oss/react-multi-select-component/blob/HEAD/docs/recipes/localization.md ? Thank you

edit: also when `options` is an empty object it'd be nice if we wouldn't be offered to create an empty item:

![Selection_003](https://user-images.githubusercontent.com/109238/141316666-14034418-ed58-4ca4-8a

[2021-11-11 14:48] romseguy opened #511 "Feature request: isOpen prop"
Hello, it'd be nice for development purposes to have `isOpen` prop so we can force the dropdown open. Thanks!

[2021-11-11 15:14] pewax commented on #509
I went with grid instead of flex. It solved the problem.

[2021-11-11 15:14] #509 closed

[2021-11-11 17:21] romseguy opened #512 "Feature request: dark theme"
Hello, I see you're shipping default css:
[code]
How about adding `isDark` prop to switch to dark theme? Thank you

[2021-11-12 06:26] harshzalavadiya commented on #510
@romseguy It was [already there](https://github.com/hc-oss/react-multi-select-component/blob/7949a0ab64e31a6de17b7a057f8b3e8a4ed2e04e/src/hooks/use-multi-select.tsx#L15) I have updated documentation

[2021-11-12 06:40] harshzalavadiya commented on #511
@romseguy there's already an `defaultIsOpen` prop

but easy way to do this (and should work everywhere) might be you can use chrome's built-in *emulate a focused page* feature can be accessed from

inspect element &rarr; `ctrl + shift + p` &rarr; type "emulate a focused page"

that should prevent it from closing while in development
![image](https://user-images.githubusercontent.com/5774849/141421

[2021-11-14 00:35] muh-hizbe opened #513 "custom list item - with image"
I was custom item list, but i'll the image not rendered at **select all** option.

code can reproduce at [https://codesandbox.io/s/custom-checkbox-multi-select-with-image-5ielk](https://codesandbox.io/s/custom-checkbox-multi-select-with-image-5ielk)

[2021-11-15 06:54] harshzalavadiya commented on #513
@muh-hizbe you can just do a falsy value check, `Select All` value will be empty

here's updated version link https://codesandbox.io/s/custom-checkbox-multi-select-with-image-forked-dn9hb

[2021-11-15 10:17] #510 closed

[2021-11-15 10:18] #497 closed

[2021-11-15 10:19] #499 closed

[2021-11-15 10:24] harshzalavadiya commented on #512
@romseguy IMO there's no need to do anything extra for dark mode you can just pass custom class and new styles and it should be able to do this out of box below is the example

https://codesandbox.io/s/rmsc-dark-mode-llfvi

https://github.com/hc-oss/react-multi-select-component/blob/master/docs/recipes/theming.md#dark-mode

[2021-11-15 10:24] #512 closed

[2021-11-24 04:57] JayanthB opened #516 "unable to implement NONCE for Content Security Policy"

[2021-12-05 16:00] zubairriaz opened #527 "Multiselect component should have option to close it programmatically"
The component should have a event that can be used to close it programmatically.
i,e Either the ref to the dropdown should be provided as a prop or an event should be provided to close the opening and closing of the dropdown

[2021-12-16 06:15] glowdex opened #529 "Allow create option even when there are matches"
Let's say I have existing option "react multi select" but the user wants to create a new option "react multi". Currently since it matches multi select the Create Option input isn't shown. Is there any way to deal with this?

[2021-12-16 06:55] harshzalavadiya commented on #529
@glowdex thanks, yeah, I guess this should be possible, I'll see if I get time this weekend.

[2022-01-14 19:35] abish373 commented on #466
How you solves the issue @macielgaleano.

Here is what I need
 If user don't select any of the option need to focus at onSubmit event

[2022-01-19 09:31] Barlevin opened #537 "Option to change the placeholder from "Select..." to anything else"

[2022-01-19 15:44] harshzalavadiya commented on #537
@Barlevin you can use `overrideStrings` prop to customize as per your needs https://github.com/hc-oss/react-multi-select-component/blob/master/docs/recipes/localization.md

[2022-01-24 11:04] shenzheniapps opened #540 "Can't import the named export 'createElement' from non EcmaScript module (only default export is available)"
![image](https://user-images.githubusercontent.com/13235552/150771259-7a83a21d-eeda-4b8e-b3e5-038bc4b6796b.png)

[2022-01-24 11:26] miteshKCS commented on #540
I am getting the same error.

[2022-01-24 13:21] harshzalavadiya commented on #540
@shenzheniapps @miteshKCS can you create a minimal reproduction for the same

[2022-01-24 22:34] Aabhash97 commented on #540
https://github.com/hc-oss/react-multi-select-component/blob/849e00f084e81e99014d49af666d1f8fd28a00de/package.json#L9

@harshzalavadiya  I think in your last PR you have added this module path  by changing it to a .mjs file
which is probably causing issue.

Can you fix asap , it will be a great help , as it is breaking the applications.
Thanks

[2022-01-24 22:34] cravi47 commented on #540
Following.

[2022-01-25 06:31] harshzalavadiya commented on #540
@Aabhash97 @cravi47 I moved the project from babel to tsup, so this is intentional change is there any way I can get a reproduction from anyone since I tried with newer CRA and next and it worked as expected so having any reproduction might be nice, it can be a git repo as well or an package json

meanwhile you can keep using `@4.1` that should work just as expected

[2022-01-25 07:39] Aabhash97 commented on #540
@harshzalavadiya  Even in older versions, it is throwing same error, Don't wonder why.

[2022-01-25 10:39] #540 closed

[2022-01-25 10:42] harshzalavadiya commented on #540
please try with latest version that should fix issue.

in essense please update your react-scripts to latest that should've resolved this anyway

[2022-01-25 11:08] Aabhash97 commented on #540
@harshzalavadiya  Thanks Buddy👏🏻 You are a hero !!. Appreciate for fixing the problem so quick .

[2022-01-26 11:55] aviraminy opened #542 "Multilingual support - search does not work with Hebrew"
I have an options which some of them are in English and some are in Hebrew.
When i try to filter in Hebrew nothing happens

[2022-01-30 11:08] harshzalavadiya commented on #542
@aviraminy can you provide codesandbox?

[2022-01-30 11:08] #537 closed

[2022-01-30 11:08] #511 closed

[2022-01-30 11:13] harshzalavadiya commented on #495
Sorry, It's been long time and since now `tsup` based on `esbuild` does this automatically so customisation might not be possible

the main reason I kept styles auto inject so it will be easy for anyone to get started. we can revisit this if we have any other simpler way that removes barrior of css import

closing this w/ won't fix

[2022-01-30 11:13] #495 closed

[2022-01-30 11:24] #513 closed

[2022-02-03 13:55] splendidlom opened #552 "Selected values customization"
Hi. Thank you for your work!

Can you add selected values customization, please.
For example. Instead of selected values `Luke Skywalker, C-3PO` I want to set custom lable like `2 selected`

![image](https://user-images.githubusercontent.com/31928196/152356594-71e6dd99-c5fb-4e10-b477-2a3716f3c872.png)

[2022-02-04 06:35] harshzalavadiya commented on #552
@splendidlom It's already there. please use `valueRenderer` prop

https://react-multi-select-component.pages.dev/?path=/story/recipes-custom-value-renderer--page

[2022-02-07 09:59] #552 closed

[2022-02-10 23:06] zanewolf opened #553 "Option Alignment in the Menu is all Wonky"
**Describe the bug**
I've implemented the multiselect component into my map and added the options. However, regardless of whether the component is on the left or right side of the page, the options are poorly formatted and I'm not sure what is causing this or how to fix it.

![image](https://user-images.githubusercontent.com/30910417/153511745-298101dc-9186-4e75-9087-9fcc7c7a7ad3.png)

![image](ht

[2022-02-11 07:44] harshzalavadiya commented on #553
@zanewolf this looks like some global styling conflict issue, if you can reproduce sandbox I can probably help you reset styles

[2022-02-16 04:38] divyansh1995 opened #556 "can we remove checkbox in dropdown, how we can remove it..??"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-16 07:06] harshzalavadiya commented on #556
@divyansh1995 you should be easily able to do this

here's sandbox https://codesandbox.io/s/youthful-ully-wocyks?file=/src/styles.css

[code]

[2022-02-16 07:24] divyansh1995 commented on #556
okay, thank you..

[2022-02-16 07:27] #556 closed

[2022-02-24 16:07] devdreamsolution opened #557 "README error"
I wanted to read about the customization, but the link was existed.
Check this screenshot.

![image](https://user-images.githubusercontent.com/54434088/155561710-85bd8a84-4154-4d55-9eb8-41e541e2aaf0.png)

[2022-02-24 17:15] harshzalavadiya commented on #557
@devdreamsolution Thanks for notifying I'll update them in next release,

Meanwhile you can use docs: https://react-multi-select-component.pages.dev/

[2022-02-24 19:17] devdreamsolution commented on #557
OK, Thank you.

[2022-03-07 08:50] AndriiRafalskyi opened #566 "Long delay when selecting an option in the select"
**Describe the bug**
Long delay when selecting an option in the select. The duration of the delay increases in proportion to the number of elements in the select (React SPA app)

**To Reproduce**
Steps to reproduce the behavior:
1. Render Select with a huge number of options (about 1500 items)
2. Select any option in the select

**Actual behavior**
Element is selected with a delay.

**Expected beh

[2022-03-07 11:45] harshzalavadiya commented on #566
@AndriiRafalskyi Thanks for reporting but this might be true for every select component library

Implementing it in this component might be little out of scope for this project since I want to keep it as light as possible

but there are few things you can try

1. My first recommendation to use[ `react-select`](https://react-select.com/async#:~:text=Async%20MultiSelect) since you already want to us

[2022-03-07 11:45] #566 closed

[2022-03-12 07:30] jung0han opened #567 "When press Select All(Filtered) button, the previously selected value is deselected."
**Describe the bug**
When using the Custom Filter option, search for keywords, and press Select All(Filtered) button, the previously selected value is deselected.

https://react-multi-select-component.pages.dev/iframe?id=custom-filter--example-custom-filter&args=&viewMode=story

**To Reproduce**
Steps to reproduce the behavior:
1. Select any value.
2. Search by specific keyword.
3. Click Select Al

[2022-03-12 07:40] jung0han commented on #542
In Korean, it does not work the same.
[https://codesandbox.io/s/cool-elgamal-qnjy47](url)
![Hnet com-image-2](https://user-images.githubusercontent.com/27123002/158008851-5ab2a902-52ee-4701-95a1-08fa096e8c2b.gif)

[2022-03-14 06:30] harshzalavadiya commented on #567
Thanks I'll take a look

[2022-03-14 06:30] harshzalavadiya commented on #542
Thanks for reproduction I'll take a look

[2022-04-03 19:32] zanewolf opened #576 "Reset to default value when the 'clear-selected-button' button is pressed?"
IDK if this is already a feature, but from what I read in the document I don't see it.

Specifically: Right now, the default selection is 'All values are selected'. If nothing was selected, then there's nothing on the page, so it's not very interesting. Now, If the user has a few, but not all options selected, and hits the clear-options X button, it deselects everything. Is there a way to make it

[2022-04-04 18:27] harshzalavadiya commented on #576
@zanewolf I don't get it completely but If you want to re-select everything on press of a button, could be done like this.

https://codesandbox.io/s/xenodochial-dust-qjp6t0?file=/src/App.js

If this is not what you are looking for if possuble can you provide some scenario on what you are trying to achieve

[2022-04-04 19:00] zanewolf commented on #576
It's the outcome I want, but not the mechanism. I would like the 'Clear Selection (X)' button to reset to select all, rather than clear all selections.  So, here's what is happening:

You open the page and all the possible options are selected.
![image](https://user-images.githubusercontent.com/30910417/161611721-7b753825-c226-40b2-8331-84233ed5de26.png).

You can then, of course, select just a fe

[2022-04-05 10:07] harshzalavadiya commented on #576
Oh, If I get this correctly then you can just have something like this preserve initial state and then when button is clicked just restore that back

https://codesandbox.io/s/xenodochial-dust-qjp6t0?file=/src/App.js

[2022-04-05 10:07] harshzalavadiya commented on #576
@zanewolf
Oh, If I get this correctly then you can just have something like this preserve initial state and then when button is clicked just restore that back

https://codesandbox.io/s/xenodochial-dust-qjp6t0?file=/src/App.js

[2022-04-05 18:44] zanewolf commented on #576
Yes, but is there a way to make the 'revert to initial state' function tied to the X button?

[2022-04-07 06:32] harshzalavadiya commented on #576
@zanewolf no since functionality is internally handled, but you can achieve similar results by just hiding clear icon using `ClearSelectedIcon={<div/>}` override updated the same Sandbox example

[2022-04-09 23:43] makapiatia opened #577 "Optional Clear Button"
I like how lightweight your multi select component is, the only additional functionality I would like to see is the option to remove the clear button that appears when selections are made. It seems like a simple capability to add, I would be happy to update the project with this feature.

[2022-04-09 23:46] makapiatia commented on #577
I must have missed this, I see now that setting "ClearSelectedIcon={<></>}" will do just this.

[2022-04-11 01:55] nickmcmillan commented on #577
Using `ClearSelectedIcon={<></>}` still results in a "Clear Selected" button being added to the DOM, but with no child elements. This might look fine, but it's no good for keyboard accessibility. Users can still tab to the button but will get no visual indication of it.

It'd be better if we could completely opt out of the clear button.

[2022-04-11 06:29] harshzalavadiya commented on #577
@nickmcmillan I guess you are right I'll see if we can just remove it completely

[2022-04-17 20:05] agustints commented on #175
Hello, is there any solution currently available?

[2022-04-18 08:44] harshzalavadiya commented on #175
@agustints Not as of now.

But PRs are accepted :)

[2022-04-24 11:48] #576 closed

[2022-04-24 11:55] harshzalavadiya commented on #577
@nickmcmillan README.md is updated new documentation will be available on NPM in few minutes

[2022-04-24 11:55] #577 closed

[2022-04-24 11:56] harshzalavadiya commented on #577
@nickmcmillan have pushed new update updates will be available in few minutes

[2022-04-24 11:56] harshzalavadiya commented on #557
@devdreamsolution README.md is updated new documentation will be available on NPM in few minutes

[2022-04-24 11:57] #557 closed

[2022-04-24 12:18] #542 closed

[2022-04-24 12:23] #553 closed

[2022-04-25 09:00] devdreamsolution commented on #557
Thank you, @harshzalavadiya

[2022-04-25 11:52] prathambhardwaj commented on #343
Hi, I want to create a customized clear icon for selected option, there should be a clear icon for every selected item, is that possible in react-multi-select-component?

[2022-04-25 13:11] harshzalavadiya commented on #343
@prathambhardwaj you can do that but I would recommend using [react-select](https://react-select.com)

[2022-04-26 04:41] prathambhardwaj commented on #343
Could you please tell me the custom element which can provide the clear icon to every selected item?

[2022-05-02 08:38] harshzalavadiya commented on #343
@prathambhardwaj it's `valueRenderer`

[2022-05-07 16:40] msreekm opened #587 "Grouping and Selected values group"
2 requests-
1. Ability to group items in ItemRenderer
2. Ability to display the selected items on top as separate group

[2022-05-24 10:32] usaidsherwani opened #591 ""labelledBy" prop does not change the placeholder"
Hi, I am using react-multi-select-component 4.2.4 and I am facing an issue that when I try to change the placeholder by given prop "labelledBy" it does not change the output. It always shows the default placeholder which is "select...".

When I inspect on browser I saw there is a `<span class="gray">Select...</span>` which always trigger and ignore whatever value I set in prop "labelledBy". I have

[2022-05-24 11:09] SherothKar commented on #591
I'm also facing the same issue. Let me know once it's fixed.

[2022-05-24 11:23] harshzalavadiya commented on #591
Duplicate of #429

@usaidsherwani @SherothKar please see below answer

https://github.com/hc-oss/react-multi-select-component/issues/429#issuecomment-885676412

[2022-05-24 11:23] #591 closed

[2022-05-24 11:59] usaidsherwani commented on #591
Oh! thank you so much. It solved the problem :D :D

[2022-05-24 12:09] SherothKar commented on #591
Thank You! ✌️

[2022-05-25 13:09] MegaKeegMan opened #592 "Create option should be selectable without use of mouse"
The major blocker that I have with this library is that I cannot select the "create" (item) selection without using my mouse. Nor is it selectable in the tab sequence.

It would be 100% amazing if there was an easy way to select the create option. Arrow keys would be great, but the "create" option should probably be near the top of the list in that case. As an alternative, pressing a certain key t

[2022-05-25 14:43] harshzalavadiya commented on #592
@MegaKeegMan good catch, will see if I can fix this sometimes, also PR is welcome as well :)

[2022-05-25 17:04] MegaKeegMan commented on #592
Actually @harshzalavadiya  do you have an idea of how you expect to implement #529 ? My intuition for an MVP is to implement the arrow key functionality for the "create" option. Any thoughts or preferences before I get started?

[2022-05-26 19:03] MegaKeegMan commented on #592
@harshzalavadiya I am having some complications unfortunately. So I cloned this repo, and set up a fresh react project. Then I did:
- `npm link` from the library repo
- `npm link react-multi-select-component` from the project repo
- `npm run dev` from the library repo
- and started up the app
Unfortunately when I do all of this, my React app stops working and I get these errors:
[code]
[code]
[cod

[2022-05-27 06:32] harshzalavadiya commented on #592
@MegaKeegMan I'll recommend using vite instead of Create React App since it's not very actively updated,

also there's no need to seprately setup other repo to test this, you can use existing storybook dev environment to do the same thing easily

[2022-05-27 16:26] MegaKeegMan commented on #592
Excellent, okay I am set up to develop now. Thank you. I did run into an error that seemed to be related to using node v17, but found a quick solution here: https://stackoverflow.com/questions/69692842/error-message-error0308010cdigital-envelope-routinesunsupported.
Specifically, I followed option 2 in the most popular answer there.

[2022-05-27 18:50] MegaKeegMan opened #594 "It should be clear which select-item is the current index"
## The problem
An item selection is indicated by a checkbox, as well as a darker gray background. The current index is displayed as a slightly lighter gray background. When your index is on the already selected items, there is practically no visual queue (that I have noticed) to indicate which item you are on in the tab order.

Here is an example:
![multi-select-index-issue](https://user-images.gi

[2022-05-27 19:08] MegaKeegMan commented on #567
@jung0han  Are you sure that it is actually being de-selected or does it just look that way. Since "R5-D4" appears later in the list, I suspect that it is just not showing up in list of selected items, and the json there is being cut-off. I would like to see what happens when you type "R5-D4" in the search. I suspect it will be there and checked.

[2022-06-03 22:57] MegaKeegMan commented on #592
@harshzalavadiya thanks very much for the responsiveness. Unfortunately, thought the code I submitted does seem to work on the storybook components, it does not quite work as I want while integrating the component into my app. I will poke around a bit to see if I can identify the differences. But mainly, I seem to be able to tab my way to the create option, which is good, but I cannot get to it us

[2022-06-08 00:40] jung0han commented on #567
Unfortunately when I search for "R5-D4" again, it's deselected.

[2022-07-19 15:59] #594 closed

[2022-07-19 16:00] harshzalavadiya commented on #594
I just restored browser focus ring back with few adjestments for now so it makes things simple

[2022-07-30 15:47] koshpendi commented on #567
@MegaKeegMan already fixed? i can commit if not

[2022-07-30 15:55] MegaKeegMan commented on #567
@koshpendi thanks and go ahead. I realize I had actually misread this issue back when I commented and can easily reproduce this bug. I have not written any fix.

[2022-07-30 17:56] MegaKeegMan commented on #592
I took a look at the rendered markup of the storybook vs my app.
Here is the creatable list item on my app:
`<li class="select-item creatable" tabindex="0">`
Here is the creatable list item on the storybook:
`<li class="select-item creatable" tabindex="1">Create "dfsafafa"</li>`

On my app, I have select all disabled, and that may be the reason. But the search also has a tab index of 0. I expect t

[2022-07-30 20:03] MegaKeegMan commented on #592
@harshzalavadiya this is all set. One thing that is a bit funny, but is not anything new, is that you can continue setting the focus index for as many options are available. So if you press "down" twice from your search, despite there only being one visible item in the list (the create item), you will have to press "up" twice to get back to having the search in focus. Maybe that can be a new issue

[2022-08-01 08:25] trangtv04110 opened #621 "How to change label for Select All option?"
I want to change "Select All" option for multi language function.

How I can change that label?

[2022-08-01 14:28] harshzalavadiya commented on #621
@trangtv04110 Please refer to below instructions

https://github.com/hc-oss/react-multi-select-component/blob/master/stories/recipes/localization.stories.mdx

[2022-08-01 14:28] #621 closed

[2022-08-02 11:29] KevinG-Acc opened #627 "ItemRenderer set item background to grey when undefined"
Hello, i used your component in my application but i had a small issue with rendering :
![image](https://user-images.githubusercontent.com/83586548/182363745-4f5a6ccc-aa5a-40a0-aba5-916a68d76c3a.png)
![image](https://user-images.githubusercontent.com/83586548/182363804-a0e1065b-0857-4857-a937-e36be367e420.png)

Resulting in :

![image](https://user-images.githubusercontent.com/83586548/182363873-1

[2022-08-03 15:06] #627 closed

[2022-08-03 15:20] #592 closed

[2022-08-03 15:21] harshzalavadiya commented on #592
Released v4.3.2

[2022-08-04 08:02] KevinG-Acc commented on #627
Thanks !

[2022-08-11 05:57] stepinfwd opened #629 "[ Feature ] :: Implement portal solution for dropdown"
**Is your feature request related to a problem? Please describe.**
When using nested containers / divs the dropdown  will be opening below the parent container rather than showing upfront.

**Describe the solution you'd like**
Implement a portal : https://reactjs.org/docs/portals.html
https://react-select.com/advanced#portaling

Add any other context or screenshots about the feature request here.

[2022-08-11 16:51] afmfe-iul opened #630 "Lost access to ISelectProps after bumping versions"
**Is your feature request related to a problem? Please describe.**
After upgrading from version `4.1.12` to version `4.3.2` we lost access  to `ISelectProps`, prior we were importing it from `react-multi-select-component/dist/types/lib/interfaces`.

**Describe the solution you'd like**
`ISelectProps` would be accessible again.

**Describe alternatives you've considered**
We made a copy of `ISelect

[2022-08-11 23:10] donaldev opened #631 "Component styles fail in Docker, works fine locally"
**Describe the bug**
Component styling fails when serving a Docker build - works fine locally.
Screenshots show the issue

- locally the CSS variables are in `kebab-case`
- in production, the CSS variables are in `camelCase` meaning the component can't find the correct styles to apply

**Sandbox / Git Repo**

Can't reproduce as it only seems to happen in Docker - build steps below

[code]

**Expec

[2022-08-12 15:27] harshzalavadiya commented on #631
@donaldev looks like you are using old version of react-multi-select-component since `.go` classes are generated by goober which we were using in `v3.x` please update component to latest `v4.x`

[2022-08-12 16:21] harshzalavadiya commented on #629
@stepinfwd why not just portal entire component?

https://codesandbox.io/s/rmsc-portal-example-823r4k

[2022-08-12 16:27] harshzalavadiya commented on #630
@afmfe-iul Thanks for reporting this.

I've restored TypeScript types back and can be directly imported like below

[code]

[2022-08-12 16:27] #630 closed

[2022-08-12 16:28] #631 closed

[2022-08-12 18:45] afmfe-iul commented on #630
Thanks for the quick action @harshzalavadiya, much appreciated! :)

[2022-08-13 17:35] harshzalavadiya commented on #629
Re-opening this, I guess this can be taken as low priority for now, but will be nice to have

due to current technical limitations/styling issues this will take a lot of restructuring

[2022-08-19 08:34] gtchakama opened #633 "Readme Typo"
`debounceDuration` description has a typo on the Props table. ❤

[2022-08-19 14:29] #633 closed

[2022-08-19 14:31] harshzalavadiya commented on #633
@gtchakama good catch! fixed

[2022-08-25 11:20] nageshweb8 opened #635 "is there any callback function for onClose dropdown? I want to call server request after selecting items. I don't want to call server request for each change"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-25 11:53] harshzalavadiya commented on #635
@nageshweb8  I think you are looking for `onMenuToggle` sends `true` and `false` each time dropdown toggles

[2022-08-25 11:53] #635 closed

[2022-09-05 17:07] murtazamehmudji opened #645 "Option to add placeholder when no option is selected"
There should be a prop passed to the component to show a placeholder when no option is selected. Right now it shows **Select...**

[2022-09-19 15:48] harshzalavadiya commented on #645
@murtazamehmudji you can easily customize `select...` for accessiblity there's already aria-label provided so that should do the job

https://github.com/hc-oss/react-multi-select-component/blob/master/stories/recipes/localization.stories.mdx

[2022-09-19 15:48] #645 closed

[2022-09-22 16:47] tg-murtaza commented on #645
@harshzalavadiya This is not about internationalization. Even after passing the labelledBy prop the placeholder still remains to be Select...

[2022-09-22 16:48] murtazamehmudji commented on #645
@harshzalavadiya  This is not about internationalization. Even after passing the labelledBy prop the placeholder still remains to be Select...

[2022-09-23 07:00] harshzalavadiya commented on #645
@murtazamehmudji It's not just localization the prop is called `overrideStrings` localization was just example.

please look at below sandbox which achieves the result you desire.

https://codesandbox.io/s/infallible-burnell-9k718n?file=/src/App.js

[2022-09-29 07:55] ghulamyazdani opened #646 "Can we get array from mulselect component?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Right now we are getting the whole object when we select an option, just wanted to ask if we can get array of selected options. if not can we add this feature?

current version has this -
![image](https://user-images.githubusercontent.com/5

[2022-09-29 11:05] harshzalavadiya commented on #646
@ghulamyazdani

you should be able to easily do it like below

[code]

here's sandbox sample

https://codesandbox.io/s/nostalgic-bush-pvv4zz?file=/src/App.js:679-778

[2022-09-29 11:05] #646 closed

[2022-10-19 23:14] HeedjyCompany opened #655 "allow using strict CSP config"
**Is your feature request related to a problem? Please describe.**
using CSP "style-src 'self'" rule is not possible with the component.
using CSP "style-src 'unsafe-inline' is not an option for security.

**Describe the solution you'd like**
add a nonce attribute on the component that will be passed to the style tags created by the component
(so we can set the same nonce value in the style-src he

[2022-10-20 06:31] harshzalavadiya commented on #655
@HeedjyCompany This makes sense as of now `tsdx` automatically injects css I'll have do little more research for this, and look at how others have managed to solve this issue

anyway ideas welcome